[2017-12-06 10:30] luminarious opened #2 "How to specify a route for only one language?"
Right now the routes are generated per language. How would I specify that I want a route to be available in just one language?

Using _locale as the first param caused some issues before, but at least we could easily separate pages that are localized and pages that should be used as-is.

[code]

[2017-12-06 14:11] paulgv commented on #2
Hi @luminarious
That's an interesting point. I just opened a PR with a possible solution, I'd be curious to have to opinion on this. I added a new option `ignoreRoutes` which you can use to list routes that should be skipped when generating localized routes: https://github.com/paulgv/nuxt-i18n/pull/3

In your specific case, `ignoreRoutes` would look like this:
[code]

You can give this specific br

[2017-12-14 08:02] apmontgomery opened #5 "Splitting nuxt.cofig"
How can i split nuxt.config so that the messages and routes are separate files?

[2017-12-15 04:46] #5 closed

[2018-01-12 08:29] NadhirBoukhenifra opened #7 "How to store Translations in Files? and force UTF-8 loading?"
Hello,
thank you for this awesome plugin :)

i have some Questions:

1. How to store Translations in Files, like `locales/en.json` and `loacales/fr.json`?

both of `Messages` and `Routes`! in separate files.

[code]

2. i have published an `issues` in `vue-i18n` repo,
https://github.com/kazupon/vue-i18n/issues/274
this problem appears when `naming route` to another `language` different from `Latin

[2018-01-13 02:18] paulgv commented on #7
Hi!
I’m currently AFK and won’t be able to look into the encoding issue until the end of the month, I never tried using non-Latin characters in routes before, this is very interesting :)
As for storing the modules config in a separate file, did you see the example project available here: https://github.com/paulgv/nuxt-i18n-example ?
It might give you some pointers.

[2018-01-16 17:03] rprins commented on #7
Like @NadhirBoukhenifra, I've run into problems dealing with separate files for translations. However, instead of separating the translations and bundling them together later, like your example does, I want to **only** load the translations of the language of the user. The current project I'm working on could get support for a lot of languages, so it might get bloated if I load everything at once.

[2018-01-19 21:59] maesklaas opened #8 "Translated path"
Could you please explain how the language specific paths work. I see it works with a routes property. But how does it work for dynamic nested routes?

[2018-01-22 21:28] paulgv commented on #2
https://github.com/paulgv/nuxt-i18n/pull/3

[2018-01-22 21:28] #2 closed

[2018-01-23 18:47] x42y opened #9 "Navigating to a non-existent URL with no defaultLocale defined throws a TypeError"
I'm trying to create a website with all content shown at `example.com/en` (or /fr, /es, /it etc.) So basically when you go to example.com, I want to redirect to /en /fr /es.. based on certain parameters, such as cookies and the browser locale.

While trying to figure out a way to do this, the first step was skipping defining a `defaultLocale`. That way, all my languages are under their respective

[2018-01-24 22:51] paulgv commented on #9
Hi @bobcat1
I did some tests and I think the issue might be caused by some changes in Nuxt v1 stable release, I'll need more time to test this better.
The `defaultLocale` is not required but I always assumed it would be set, I wonder if the module should have more options/features to handle automatic locale selection or if it should be up to the user to create a middleware to do this.

[2018-01-24 23:09] bobcat1 commented on #9
From my point of view (biased because of my use case) it would be great if it had an option that let you redirect to a specific /prefix, if `defaultLocale` is undefined. Or perhaps add an option to `defaultLocale` that if set to `true`, will also make the default language get a prefix, which it will then redirect to if someone tries to access the site without a prefix. Something like
[code]
Just a

[2018-01-25 11:33] bobcat1 commented on #9
Upon further consideration of my specific use case outlined above, I might be shooting myself in the foot with the redirect suggestions I gave you, since I don't necessarily want to redirect to the same prefix every single time, but rather base the redirect on certain parameters (cookies, browser locale..).

[2018-01-25 13:33] paulgv commented on #9
The way I see it, there should be a simple redirect option that would simply redirect `/` to the default locale's homepage, but it also should be possible to pass a custom handler to make further checks and redirect to a specific language.

[2018-01-25 15:44] bobcat1 commented on #9
That sounds like a great idea :)

[2018-01-25 18:33] andrade1379 commented on #9
@bobcat1 thank you for asking the question. I am too looking to be able to set the language based on a cookie and or locale based on a geolocation service I'm using.

I'm wondering if there was a way to run `switchLocalePath` from within a plugin therefore the language is set before any of the component/pages are rendered. Or something equivalent to that

[2018-01-25 19:21] #8 closed

[2018-01-26 12:48] paulgv commented on #9
@bobcat1 The TypeError issue has been fixed in Nuxt 1.2.0 https://github.com/nuxt/nuxt.js/releases/tag/v1.2.0

@andrade1379 That's currently not possible since `switchLocalePath` is declared in a Vue mixin but it would be nice to have this option! I'll think about it.

[2018-01-27 16:02] paulgv commented on #9
@bobcat1 just release v2.1.0 which comes with 2 new options `noPrefixDefaultLocale` and `redirectRootToLocale `: https://github.com/paulgv/nuxt-i18n#options
You can use these 2 options to force URL prefixes for languages as well as achieving simple redirections from `/` to a given locale. Hope it helps a little, we still need to have an option for more complex redirections but it's a start :)

[2018-01-28 15:11] bobcat1 commented on #9
@paulgv Just had the chance to try it now, it works great! Thanks for the superquick updates :)

[2018-02-01 20:14] andrade1379 commented on #9
@paulgv I've been playing around with getting this to update the i18n locale via a saved cookie value. I am checking if cookie exists and if not then we set cookie and pass one of the languages we support to the cookie then set the i18n locale.

I wanted to share with you guys to see if there was any improvements you think can be made. What I do see happening when I visit the site is a flash of th

[2018-02-02 16:16] ky61k opened #11 "Feature, site.com/fr/ -> site.com/fr, site.com/ -> site.com, can you do it?"

[2018-02-07 21:53] jwahdatehagh opened #12 "Currently breaks if hashes are used in the URL."
E.g.`switchLocalePath` turns `/#intro` into `/fr#intro/`, which results in the following error: `DOMException: Failed to execute 'querySelector' on 'Document': '#intro/' is not a valid selector.`.

[2018-02-07 22:04] jwahdatehagh commented on #12
This is the bad guy (`i18n.routing.plugin.js`):

[code]

[2018-02-08 12:58] #12 closed

[2018-02-09 10:10] lucpotage opened #14 "Adding hreflang alternate links in head"
I'm trying to automatically add the hreflang links in the head but it's not that easy.

I moved the locales array outside of the `module.exports` and added the following code in the`nuxt.config.js` file and it kinda works:

[code]

However, I didn't find a way to dynamically change the `href` value. The method `switchLocalePath()` is not accessible from the `nuxt.config.js` file and it seems we ca

[2018-02-10 00:45] manniL opened #15 "Feature request: Custom route keys"
Heyho! First of all: Thanks for marking this module 🙏

I'm currently building my companies page with "German" (de) as the default language. So far so good. The only thing that annoys me a bit is that the keys in the routes object should match the base routes from Nuxt. I think it'd be better to use them as custom/general keys.

Currently, my route file would look like this:

[code]

It's a bit ann

[2018-02-10 01:17] manniL opened #16 "Handle anchors correctly"
I want to use nuxt-i18n to "translate" anchor links (though it might sound weird).

Example config:

[code]

If I iterate over all links and use the `localePath` function..

[code]

the anchor tag isn't resolved correctly. I guess that the problem lies in the export of base routes while ignoring other routes that aren't included in the base routes of Nuxt

[2018-02-10 16:54] paulgv commented on #16
Hi @manniL !
To translate anchor links, you could simply use **vue-i18n** to generate localized ID's for your DOM.
Here's how I'd do it:
[code]
And in your translations files:
[code]

[2018-02-10 17:02] paulgv commented on #15
Using Nuxt's base routes feels like the safest thing to do for this feature to prevent any confusions.
Ideally, I'd like to have an option to configure custom routes right in the `.vue` files rather than putting them all in a config file but I'm lacking time to give it a try atm.

[2018-02-10 17:05] manniL commented on #16
Thanks for the fast answer!
I pursued that approach, though it feels a little "hacky". But it works great ☺️

[2018-02-10 17:05] #16 closed

[2018-02-10 19:35] paulgv commented on #14
Hi @lucpotage
Just released v2.2.0 with alternate links generation, more here: https://github.com/nuxt-community/nuxt-i18n#seo
Hope you can give it a try to confirm it works as expected.
One thing I noted is that alternate tags disappear when you navigate in the app manually (they reappear if you refresh the page) but I guess it does not matter since Google bot accesses each page directly as far a

[2018-02-10 20:27] paulgv commented on #11
Should be fixed in v2.2.1: https://github.com/nuxt-community/nuxt-i18n/blob/develop/CHANGELOG.md#221-2018-02-10

[2018-02-10 20:50] ky61k commented on #11
Thank you so much!

[2018-02-10 20:55] #11 closed

[2018-02-11 13:21] FransTwisk opened #17 "[V2.2.1] Localized url's are missing '/' at end, defaultLocale is loaded on full refresh"
It seems that since V2.2.1 there is no slash added anymore to the localized route, which is a nice feature (because you want to be able to handle '/nl' and '/nl/' , but this doesn't work on initial load: e.g.: it loses the selected language on a full page refresh.

For example: _http://example.com/_ would load in the default locale ('en'). Switching to another language (e.g. 'nl') changes the rout

[2018-02-11 21:41] #17 closed

[2018-02-11 21:45] paulgv commented on #17
@FransTwisk thanks for bringing up this issue, it should be fixed in v2.2.3!
The `/xx/` format is currently dropped in favor of `/xx` which seems more standard, if you think both formats should be supported, maybe we should add it as an option?
Concerning your redirect issue, I feel like the best way to do this would be to have your own plugin to override **nuxt-i18n**'s behavior.

[2018-02-12 10:25] FransTwisk commented on #17
Thanks for the quick fix! Works perfectly now, with and without the slash at the end. I think this behaviour is fine, just wanted to make sure that if a user explicitly also adds a slash at the end that the right page + language also shows up.

Concerning the auto-redirect: I'm afraid my Vue skills lack the ability to write a plugin myself, but I'll investigate. I think the only thing I need it so

[2018-02-13 00:33] andrade1379 opened #18 "[Nuxt] Error while initializing app TyprError: Object doesn't support property or method 'findIndex'"
Hello,

I recently added this module to my project and was running just fine until I tested in IE. I noticed the error in my subject for this ticket. Wanted to know if this is a known issue or if there is a workaround that you recommend?

![screen shot 2018-02-12 at 4 49 36 pm](https://user-images.githubusercontent.com/1234484/36127473-3caddd48-1023-11e8-80f5-9a0702315d7e.png)

I also checked the

[2018-02-13 12:28] Guito opened #19 "Is it possible to make the module work with different domains?"
I would like to have the following:

mydomain.com/url-in-english
mydomain.fr/url-in-french

Would it be possible to do it with the module? How could I do it?

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/nuxt-i18n/issues/c8">#c8</a>)</em></sub></div>

[2018-02-13 16:34] mahmoudmy opened #20 "Feature request: Using json files for storing messages"
Thank you guys for this awesome module.
Using `json` files for messages is a standard in i18n.
Another important feature is loading just the active language messages.

[2018-02-13 17:21] matsrietdijk commented on #14
@paulgv the `hreflang` tags should not be added to pages which are in `ignorePaths` as they do not have alternatives. Currently they render as invalid html (validated with https://validator.w3.org) and looks like:

[code]

Note the empty `href` attribute.

[2018-02-14 03:17] andrade1379 commented on #18
I ended up using babel es6 polyfill and seems to be working.

[2018-02-14 03:17] #18 closed

[2018-02-14 16:08] bobcat1 commented on #17
@FransTwisk let me know how the investigation goes :) I'm also interested in this feature but lack the skills to do it myself.

[2018-02-14 20:23] papertokyo opened #21 "Handling dynamic routes with nuxt generate"
Firstly a huge thanks for making this module. It's exactly what I was looking for and was hoping I wouldn't have to create.

Is there a recommended way to handle localised, dynamic route generation?

Currently I'm getting route slugs as per the generate docs, then going over the locales and adding prefixes to all the routes. This feels hacky, and I suspect I'm doing it the 'wrong' way since the mo

[2018-02-16 11:19] Guito commented on #19
Well, I have been checking the module and it's currently not possible. I have managed to do it changing some parts of the code. It can have a lot of improvements, but it works:

My definition of locale now includes a domain and I stored them in env:
[code]

In routes.js deleted the code changing the path to include the language
`path = `/${code}${path}``

In my store I added the current locale:
 s

[2018-02-17 04:35] javialon26 opened #22 "Cannot read property 'offsetParent' with seo"
Hello, excellent module :)

I have an error with seo option in true, the console shows the following error:

```Uncaught TypeError: Cannot read property 'offsetParent' of undefined at vue-meta.js:1080```

Dependencies:
Nuxt 1.3.0

[2018-02-17 14:42] FransTwisk commented on #17
I would like the server to handle this, but don' really know how. Anyway, I ended up using a redirect when locale is found in useragent and using vue-cookie to store the chosen locale if the user still decides to use a different locale. I only use this on the index page, something like:

[code]

[2018-02-17 16:50] paulgv commented on #22
Hi @javialon26 !
Can you share some code to reproduce the issue? I'm not seing this error in my tests so it might be specific to your setup (config, modules installed etc.).
Thanks!

[2018-02-17 17:01] paulgv commented on #21
Hi @papertokyo !
I didn't do much testing with the `nuxt generate` command but I just tested it with the [example project](https://github.com/paulgv/nuxt-i18n-example) and it seems to work, even with `generate.subFolders` set to `false`.
What kind of _dynamic routes_ do you have? Any way you could share your tests in a repo?

Thanks!

[2018-02-17 17:12] paulgv commented on #20
Hi @mahmoudmy !
There should be no problem using JSON files to store your translations.
[code]
Loading active language only seems to be a most wanted feature, I'd really like to implement it but I'm not sure how to approach it yet and did not have much time to think about it, I hope I'll be able to get to it soon. Any help or ideas are very welcome :)

Thanks!

[2018-02-17 17:17] paulgv commented on #19
Hi @Guito !
This is awesome, thanks for sharing this! I'd love to integrate your solution as an option in the module, hopefully I can give it a go next week. Feel free to open a PR with your changes, we could work on it together to turn it into a built-in option!

Thanks! :)

[2018-02-17 21:17] paulgv opened #23 "Lazy-load translations"
Lazy-loading translations seems like an important feature to some of us.
An initial implementation is available in version 2.3.0 which is tagged as a pre-release. I'd love to have some feedback from you guys if you'd be willing to give it a try.
To get the prerelease:

[code]

Have a look at the doc for usage: https://github.com/nuxt-community/nuxt-i18n#lazy-load-translations

Thanks!

https://git

[2018-02-18 13:46] Guito commented on #19
Sure! I can do a PR, however, I think it will need a lot of ifs and some extra config that the plugin is not currently using. Tomorrow I will give it a try :)

[2018-02-18 17:51] mahmoudmy commented on #23
I tried the new release.
Lazy loading is OK but after loading **server-side-rendered** pages, all of the translations disappear and message keys appear in a flick. (In the Page source there are the correct translations but in a half a second they replace with message keys!)

[2018-02-19 06:19] paulgv commented on #23
@mahmoudmy that's weird 😮
What does you `nuxt.config.js` look like?

[2018-02-19 07:11] mahmoudmy commented on #23
Here is my config:
[code]

[2018-02-19 09:14] paulgv commented on #23
Thanks @mahmoudmy ! I tried your config in my example project and it seems to be working okay. Any way you could provide a repo with the issue so I can reproduce?

[2018-02-19 14:05] mahmoudmy commented on #23
Thanks @paulgv , I created a simple repo resulting same problem:
https://github.com/mahmoudmy/nuxt-i18n-test

[2018-02-19 14:16] mahmoudmy commented on #23
Thanks @paulgv , I created a simple repo resulting the same problem:
https://github.com/mahmoudmy/nuxt-i18n-test

[2018-02-19 14:30] RomainLK opened #24 "Cannot access localePath in middleware"
I'm making a middleware which redirects users to some pages depending on the store informations. However, I'm lacking `localePath` to localise the path for the redirect. I expected it to be available as `context.app.localePath`, but it's not.

More interestingly, it's available at `context.app.i18n.vm.localePath` but the `this` context is not correct. `localePath` is somehow bound to a component w

[2018-02-19 17:43] papertokyo commented on #21
Hmm okay, I'll take a closer look and see if perhaps I'm doing something weird that would generate a blank path name. Netlify seems to be okay with the folders, so getting it working without subfolders is a 'nice to have', along with localising urls.

So just to clarify, the routes config object in nuxt-i18n is only for localising the slugs of folders in the pages tree, and when creating a routes

[2018-02-20 00:10] javialon26 commented on #22
After a few tests, the problem appears when the module @nuxtjs/auth is enabled. The version of the module is 4.0.0-rc.3.

[2018-02-20 11:23] manniL opened #26 "2.3.0-0 not on NPM"
Hey!

Just want to inform you that v2.3.0-0 is not available through NPM currently (see your badge in the README or https://www.npmjs.com/package/nuxt-i18n).
It'd be awesome if it would be available.

[2018-02-20 12:29] #24 closed

[2018-02-20 12:53] paulgv commented on #26
Hi @manniL !
I just released v2.3.0, it should be okay now :)

[2018-02-20 12:53] #26 closed

[2018-02-20 12:57] paulgv commented on #23
Thanks! I'm not sure what's going on there, I need to give it a closer look. I released another version where `langFiles` option has been dropped in favor of individual `langFile` options in the `locales` array, make sure you update your config accordingly if you start using v2.3.0.
I'll do more tests to try and understand the bug you've got.

[2018-02-20 12:58] paulgv commented on #14
Thanks @matsrietdijk ! It should be fixed in v2.3.0!

[2018-02-20 12:58] #14 closed

[2018-02-20 17:57] lucpotage opened #27 "Warning when langDir is not specified"
I got some warnings when using nuxt-i18n 2.3.0 with the last version of the starter template.

[code]

I suspect this is due to the regex in the latest lazy loading feature. If you make an error in your configuration, let's say you don't specify the `langDir` property, then, you will get this error. Maybe, you could prompt a clearer message in such a case.

In async loading mode, if the language f

[2018-02-21 00:35] elrolito opened #28 "Nuxt build fails with 2.3.0 release"
Trying to update to latest release causes nuxt build to fail on missing dependencies, but version 2.2.4 does not have this issue. Also seems like the build is much slower.

[2018-02-21 01:08] paulgv commented on #28
Hi @elrolito,
Is there an error message about those missing dependencies?
Have you tried removing your `node_modules/` and reinstalling them fresh?
Also, how did you configure the module?
Thanks!

[2018-02-21 08:35] FransTwisk commented on #28
Same here:

[code]
Happens even after removing `node_modules` and fresh install.

[2018-02-21 09:52] RomainLK commented on #28
I'm also having issues building both in nuxt dev and nuxt build ( nuxt build even kills the encoding of my terminal )

[code]

Tried to run the npm command unconvinced that it would solve anything. The error message just changed:

[code]

Both `seo` and `lazyLoading` were set to `false` in config

[2018-02-21 10:11] mcapu opened #29 "Setting base property in Nuxt's router breaks localePath links."
Setting this property in `nuxt.config.js`, as per https://nuxtjs.org/api/configuration-router#base:

[code]

When calling:
[code]

* Expected href: `/baseURL/locale/someroute` (or `/baseURL/someroute` in case it's the default locale).
* Getting: `/baseURL/baseURL/someroute`.

Currently using version 1.1.0, the 2.* versions are crashing for me.

[2018-02-21 10:25] RomainLK commented on #28
Locked down the culprit: the async import in `i18n.utils.js`. No build error when removed.

[2018-02-21 12:51] #28 closed

[2018-02-21 13:03] paulgv commented on #28
Thanks for the help guys, should be fixed in 2.3.2.
The issue will still occur when setting `langDir` to an empty string though (or pretty much any path matching root dir), this dynamic import error is a mystery to me, I'll need to give it a closer look and come up with a better fix.

[2018-02-21 13:17] #29 closed

[2018-02-21 13:18] paulgv commented on #29
Hi @mcapu ! This issue should be fixed in v2.3.3.

[2018-02-21 16:55] paulgv commented on #27
Hi @lucpotage
This might be related to #28 and should be fixed in v2.3.2

[2018-02-21 16:55] #27 closed

[2018-02-22 09:30] adi-zz opened #30 "How to have multiple aliases for the same page?"
I want URLs having 2 different patterns to point to the same page:
- for cars with odd id: `/en/car/1`, `/voiture/1`
- for cars with even id: `/en/latest/2`, `/nouveau/2`

(both should render the same `/pages/cars/show.vue` component)

Could this be implement with the current version? And I wonder how both `routes: { ... }` object and `localePath( ... )` call should look.

Thanks for this module.

[2018-02-22 12:46] paulgv commented on #23
@mahmoudmy did you find a solution to your problem by any chance? I've been messing around with your repo and couldn't make it work properly, even after stripping it down to the bare minimum. But using a similar setup in another Nuxt project works fine so this feels pretty strange...

[2018-02-22 12:54] mahmoudmy commented on #23
I also tried the new version (2.3.0), but the problem still exists!

[2018-02-23 12:49] elpeyotl opened #31 "Lazy Load json files after generating static files"
Hello!

I was trying around a bit if I can use this plugin for my next project. It is awsome by the way. Could set up routing and translation in about 40 minutes! yay!

But I found one issue. When using "npm run generate" to generate static files - the first page load does not show the translations! If I change the language it starts working. It seems that on inital load the json language file is

[2018-02-23 13:02] elpeyotl commented on #31
Even if I run "npm run build" and then "npm run start" i see the same behaviour.

[2018-02-23 13:59] elpeyotl commented on #31
If load the files not asynchrously it works:

        vueI18n: {
          messages: {
           fr: require('./lang/fr-FR.json'),
          en: require('./lang/en-US.json'),
          de: require('./lang/de-DE.json')
        },

[2018-02-23 14:16] mahmoudmy commented on #23
@paulgv
I deployed the sample repo to heroku, you can see the strange behavior on every page load (refresh):
https://nuxt-18n-test.herokuapp.com/

[2018-02-23 14:16] mahmoudmy commented on #31
I think it's similar to my broblem discussing in #23 .

[2018-02-23 15:09] elpeyotl commented on #31
@mahmoudmy I downloaded your repo and was running it. Could find any issue? How to you build it? I run it with npm run dev. and it was showing first page in english. when i click on house it changed to arabic.

[2018-02-23 16:02] mahmoudmy commented on #31
Thanks @elpeyotl . The first page wasn't in English, it  just shows the message keys (CAPITAL LETTERS) and this is the bug!

[2018-02-23 17:11] elpeyotl commented on #31
@mahmoudmy

If I change your config file like this it works. But it not asynchrous anymore.
[code]
Probably you can use that as a workaround? Dont know why on inital load the language is not loaded. I have exact the same issue.

[2018-02-23 17:20] lucpotage opened #32 "Assets and routes"
I try to bind my image src attribute and use a path that depends on the current locale:

`<img :src="'~/assets/image-' + $i18n.locale + '.svg'">`

However it does not work and the output is:

`<img src="~/assets/image-en.svg">`

Another issue is with video posters, my paths don't work. Any idea?

`<video poster="~/assets/poster.png">...</video>`

[2018-02-25 07:45] apmontgomery commented on #22
I'm having the same issue, but not using nuxtjs/auth.  It only occurs with seo set to true and following a nuxt link with switchLocalePath (i.e. not on initial page load).  The Error which seems to keep looping is the following:
[code]

[2018-02-25 07:46] apmontgomery commented on #22
maybe there is some way to not change the seo on the client?

[2018-02-25 12:39] manniL commented on #32
You cannot use "dynamic paths" that change at runtime because webpack evaluates them before.

An easy solution for this is to move the images in the static folder and link to them with `:src= "'/image-' + $i18n.locale + '.svg'"`

[2018-02-25 12:40] manniL commented on #31
Same problem here

[2018-02-25 18:47] manniL opened #33 "Nested fixed routes example"
Hey again!

I'm currently having the following route construct:
[code]

Now I want to translate the work route but leave the child routes "as they are".

`/work` -> `/newname` (linking to /work/index.vue)
`/work/foobar` -> `/newname/foobar`
`/work/bazfoo` -> `/newname/bazfoo`

Is this achievable? If so, do I need to add each route manually? :thinking:

[2018-02-25 21:39] paulgv commented on #33
Hi @manniL
With your current files structure, foobar and bazfoo aren't treated as children routes and you would have to setup each route translation manually to achieve what you want.
However, you could add a `work.vue` page in the `pages/` directory, this would cause all pages in the `pages/work/` directory to be considered as children of `work`, in this case, you'd be able translate the root `wo

[2018-02-25 21:41] #32 closed

[2018-02-25 22:14] paulgv commented on #23
@mahmoudmy apparently, nuxt-i18n's plugin was missing a simple `return`... 😅
Just pushed v2.3.4 which should fix your problem :)

[2018-02-25 22:16] paulgv commented on #31
Hi guys, sorry for this frustrating issue. Hopefully it's fixed in v2.3.4.
@elpeyotl thanks for the repo, I tested it with the new version and it looks okay!

[2018-02-25 22:19] paulgv commented on #30
Hi @adi-zz
This is currently not possible with current version but it would certainly be an interesting feature.
In the meantime you could probably "hack" your way to a solution by using other pages that export the page's module you'd like to translate, kinda like it's done in Nuxt's i18n official example: https://nuxtjs.org/examples/i18n

[2018-02-25 22:23] paulgv commented on #22
Hi @apmontgomery
Any way you could share a sample project where I can reproduce this issue? Not sure what's going on there 😕

[2018-02-25 22:37] manniL commented on #33
Thanks for the great explanation! :relaxed:

[2018-02-25 22:37] #33 closed

[2018-02-25 22:41] manniL commented on #31
Looks like the bug is fixed. Thank you, Paul! But there is another (rare) edge case. Will open up a new issue for it in a second

[2018-02-25 22:43] manniL opened #34 "Load fallback language when needed (lazy-load)"
nuxt-i18n version: 2.3.4

Imagine you have two languages, `en` (default) and `de`.
But only parts of the `en` language is localized in the `de` file.
If you now enter a page (e.g. `/de/only-half-localized-route`), you see the correct translations (for de) where it applies, but no en translation because the fallback language isn't loaded properly because of lazy-loading. Instead, you see the transl

[2018-02-26 02:32] #31 closed

[2018-02-26 02:33] #23 closed

[2018-02-26 13:30] mahmoudmy commented on #23
Thanks @paulgv , You made my day ;)

[2018-02-27 14:37] Guito commented on #19
I think I don't have enough vue/nuxt knowledge yet to do it as a plugin, that's why I have not done any pr yet. If you want we can meet to do it together

[2018-02-27 19:10] frank-084 commented on #22
Hi i've got this problem using vuelidate
it's appears to be a vue-meta problem, check there :
https://github.com/declandewet/vue-meta/issues/187

[2018-03-01 21:13] andrade1379 commented on #9
@paulgv I'm running into a situation where if someone makes a typo when typing in my site's url. for example: `http://mysite.com/jhdusbc` or anything other than a predetermined route and or a preset language like `/es, /pt, /de` the site errors out. Being that my site is a static site I was wondering how we can handle a situation like this.

[2018-03-02 17:00] alanaasmaa opened #35 "This plugin brokes my font-awsome SSR"
When im enabling this plugin with my config my font awesome icons are not loading from SSR and then i will get errors of cliend and server dismatch

My config

[code]

My font awesome plugin

[code]

EDIT: When disabling `loadLanguagesAsync: true` it works fine.

[2018-03-03 19:08] paulgv commented on #35
Hi @alanaasmaa
After some tests, I'm having SSR issues when using your Font Awesome plugin with and without nuxt-i18n enabled.
Would it be an option for you to use `vue-fontawesome` as described here? https://dev.to/coolgoose/how-to-setup-font-awesome-5-as-vuecomponent-in-nuxtjs-54e4
I tried it myself and it went very well, no conflicts with nuxt-i18n :)

[2018-03-03 19:51] alanaasmaa commented on #35
@paulgv Usually i like to use plugin in a raw way but it seems like its better to integate it this way.

[2018-03-05 14:58] katafractari opened #36 "Reload of JSON language files"
I store translations in JSON files and configure nuxt-i18n like this:

[code]
My use case is that I use **nuxt generate** to generate separate sites for all languages that are served from different domains, so I only specify one language per build.

The problem I'm facing is that changes to **./locales/<code>.json** are only visible in the app after I restart the dev server.

Having
[code]
in nuxt

[2018-03-09 02:57] paulgv commented on #22
I just had the same problem, looks like this is caused by the `seo` feature. I'll work on a fix asap.

[2018-03-09 02:59] paulgv commented on #19
Hi @Guito !
Unfortunately I lacked time to work on this feature lately. I might be able to give it a go in the next few days, I'd be happy to involve you in the development if you're up to :)

[2018-03-09 06:49] mahmoudmy commented on #22
I have the same problem when enabling nuxt-auth module. Icreated a sample repo that produce this error:
https://github.com/mahmoudmy/nuxt-i18n-test
@paulgv

[2018-03-09 11:06] Guito commented on #19
That would be great. Something we would have to think is how to only include the language required in each domain to improve the performance

[2018-03-09 11:38] eddiesigner opened #37 "Detect browser language"
First of all, thanks for this module, is pretty useful! 👍

Now, it would be great if the module is able to detect the browser language and redirect to the user accordingly, so for example, if my browser has the english language enabled, I'd be redirected to `'/en'`.

I wrote my own middleware for that:

[code]

But I think it would be better if this can be done by the module itself, maybe as an op

[2018-03-09 14:18] Zip753 opened #38 "Allow to specify glob or regex in ignorePaths"
Hi, thanks for the awesome module!

I'd like to propose to add regex as an option for `ignorePaths`, so that it's possible to ignore, say, the whole subpath (directory in pages, respectively). Extension of #2 and #3

[2018-03-09 22:23] manniL commented on #37
+1 for sharing this code! Kudos to you :pray:

[2018-03-10 19:45] #38 closed

[2018-03-10 19:50] paulgv commented on #38
Thanks for the suggestion @Zip753 :) I've added this in v2.4

[2018-03-10 20:53] #37 closed

[2018-03-10 20:56] paulgv commented on #37
Awesome! Thank you @eddiesigner!
I've added this feature in v2.5.0, it's pretty much all your code with the addition of some cookie handling to prevent redirecting users every time they load a page if they chose another language.

[2018-03-10 21:40] paulgv commented on #37
Hey @manniL
I feel like disabling the cookie check would result in excessive redirections for users that visit your app multiple times.
Although, I guess we could add an option that disables this check if it really isn't required in some setups.

[2018-03-10 21:40] manniL opened #39 "Remove lodash from nuxt-i18n middleware"
nuxt-i18n version: 2.5.1

With the new language detection feature, lodash was added into the middleware and the front-end bundle. This has some heavy side effects concerning the bundle size:

![image](https://user-images.githubusercontent.com/640208/37246985-d2e3d8ea-24b3-11e8-91db-937311ecf22b.png)

You could also go for importing [`lodash.has`](https://www.npmjs.com/package/lodash.has) instead o

[2018-03-10 21:45] manniL commented on #37
@paulgv Sure, I see the benefits in reducing unwanted redirects for the user. On the other hand, using `Accept-Language` should almost always be correct about the users' preferred language. If not, he can still change it in its settings.

[2018-03-10 22:08] #39 closed

[2018-03-10 22:10] paulgv commented on #39
Thanks @manniL ! I rewrote the check so it doesn't require `lodash.has`, probably was a bit overkill :P

[2018-03-10 22:11] paulgv commented on #37
Just added option `useRedirectCookie`, you can set it to false to disable the cookie thing :)

[2018-03-10 22:11] manniL commented on #39
Thank you :relaxed:

[2018-03-11 03:57] paulgv commented on #19
@Guito I've started implementing the option in a new branch: https://github.com/nuxt-community/nuxt-i18n/tree/feature/different-domains
I've used the `domain` key in the locales array like you did yourself to define the different domains.
To enable the feature, option `differentDomains` must be set to `true`.
Hopefully you can give this a try sometime :) Thanks again for sharing your take on this,

[2018-03-11 10:16] Guito commented on #19
I've been checking the code and it looks nice! I didn't know how to do the part in which you check the ssr or the client and I did it with the store. I'll try it this week.

A couple of questions/concerns:
How to try it in local? I checked the full URL instead of just the .com because of this (If I'm not wrong you checked only the .com)
If it's not the default locale, are the urls myhost.de/de/som

[2018-03-11 12:54] paulgv commented on #19
To test this locally, I added entries that point to `127.0.0.1` to my `/etc/hosts`:
[code]
I specified those hosts in the config (I had to specify the port as well):
[code]
It does check the whole domain name, not only the extension.
When `differentDomains` is enabled, there is no prefix added to the paths, the localization is based solely on the domain name.
I've been testing this with the [lazy-

[2018-03-11 19:59] Guito commented on #19
Ah, then it's great, it's exactly the same I did. Perfect! Thank you very much!

[2018-03-12 09:32] eddiesigner commented on #37
Thank you @paulgv!

Btw, the `useRedirectCookie` option is pretty useful. 😄

[2018-03-12 09:55] Guito commented on #19
Hello @paulgv

I've testing it and the only thing that is not working for me is creating a link with the switch locale method in a domain which is not the default:

I think the problem is because of the port, because I have a private domain in which I display a non default language and it works.

[code]

[2018-03-13 10:44] matsrietdijk opened #42 "How to handle localised dynamic route segments (slugs)"
How should localised dynamic route segments be handled or what is recommended?

We fetch articles from an external api and receive articles with available translations (including localised slugs for each available translation). I would like not to use Vuex to "fix" the slug in the global language switch which we use in the default layout.

[2018-03-13 13:12] paulgv commented on #42
Hi @matsrietdijk !
Do you mean to translate routes that contain dynamic fragments? If that's what you want to do, have a look at the "Customize route" section in the doc, there's an example with a `slug` parameter: https://nuxt-community.github.io/nuxt-i18n/routing/customize-routes.html

[2018-03-13 13:13] matsrietdijk commented on #42
Hey @paulgv, I'm actually trying to translate the ":slug" part.

[2018-03-13 13:29] paulgv commented on #42
Oh ok, in that case I think you should handle this API-side, it would be more flexible.
I guess you could also store all your slugs in your translation files and translate slugs in the default language before calling your API but that doesn't seem as convenient:

[code]

[2018-03-13 17:43] paulgv commented on #22
The issue is fixed in vue-meta v1.4.4: https://github.com/declandewet/vue-meta/releases/tag/v1.4.4 🎉
vue-meta still needs to be upgraded in Nuxt's dependencies but in the meantime, you can simply add vue-meta as a dependency to your own projects.

[2018-03-13 17:43] #22 closed

[2018-03-14 09:39] matsrietdijk commented on #42
@paulgv I can't really fix this API side as the slugs are only unique in combination with the locale. So I guess the only realistic way is using the Vuex store with some custom language switcher logic. Thanks any ways!

[2018-03-14 09:39] #42 closed

[2018-03-15 08:01] Azeranex opened #43 "some params is missing when use localePath"
My reload params is missing to nuxt-link like this
`<nuxt-link :to="localePath({ name: 'foo', params: { foo: 'nice', reload: true } })">`
`this.$router.push(localePath({ name: 'foo', params: { foo: 'nice', reload: true } }))`

It's working fine below. No params are lost.
`<nuxt-link :to="{ name: 'foo', params: { foo: 'nice', reload: true } }">`
`this.$router.push({ name: 'foo', params: { foo: 'nic

[2018-03-15 08:57] drupalshift opened #44 "How to a page in current language"
Hi there
I have extended Axios in plugins how can I redirect to a page in the current language

[code]

[2018-03-15 11:33] paulgv commented on #44
Hi @drupalshift
You can access `localePath()` from your plugin:
[code]

[2018-03-15 12:48] paulgv commented on #43
Hi @Azeranex
Could you share your pages directory structure as well as the content of `.nuxt/router.js` please? Might help to find out what's going on there :)

[2018-03-15 13:28] Azeranex commented on #43
Here it is.
Directory structure
[code]

router.js
[code]

[2018-03-15 14:18] paulgv commented on #43
The `params` key is used to replace dynamic URL fragments like `:id` or `:list`. If your route doesn't contain a `:reload` fragment, passing `reload` in the params won't do anything. However, you could pass the `reload` in the query string:

[code]

But I might be missing the point because the code in your comment does not seem to reflect your original question (no route named `foo` and no `:foo`

[2018-03-15 16:24] Azeranex commented on #43
I use reload param to check whether I need to fetch api data and fill vuex store or not.
You can use query to track too but when you use ajax to fill more data (e.g. infinite scroll) your page will be reload to first data if you view item on other page and click back. You ajax content got wiped. Your scroll position lost.

If you store reload var in param you data still intact.

I can solve my pro

[2018-03-16 09:57] #43 closed

[2018-03-17 09:24] NadhirBoukhenifra opened #45 "How to redirect the index / after setting noPrefixDefaultLocale"
Hello,
i have problem:

1. i set `noPrefixDefaultLocale` to `false`
in the **description**:
_By default, paths generated for the default language don't contain a locale prefix, set this option to false to disable this behavior_

2. so the generated routes like this, good:
[code]

3. then when starting the app, do not redirect to `index` it shows `404 page not found` error!!!
`http://localhost:port

[2018-03-17 18:46] MitsuhaKitsune commented on #45
Same problem here, the route generation it's OK, show 404 if I tried to access without language on url, I added this options from docs to detect and autoredirect to browser language:
`
detectBrowserLanguage: true,
redirectCookieKey: 'redirected',
useRedirectCookie: true
`
But don't work, still showing 404 without redirect

[2018-03-20 00:52] #44 closed

[2018-03-20 00:53] #35 closed

[2018-03-20 00:54] #9 closed

[2018-03-20 00:55] #20 closed

[2018-03-20 05:53] alanaasmaa commented on #35
Just to let you know i tried an other way but finally used it as vue component.

[2018-03-20 08:57] Azeranex opened #47 "Locale keep switching to default locale when visit non ignore route"
How can I prevent locale switch to default when visit ignore route?

Example, my default locale is `th` my current page is `/en/view-blablabla`. I go some page that in ignore `/settings`. I would like it to stay in `en` but it just switching to `th`.

Every localized route now is also switched to `th` too.

[2018-03-20 11:04] Hexodus commented on #28
I had recently a similar error because of:
`module.exports = {   I18N }`
I changed it to:
`module.exports = I18N `
And it works ;)

[2018-03-20 18:24] jefrydco opened #48 "[Feature Request] Generate Proper Language Attribute on Static Generated Nuxt"
### Problem to Solve
Hi I tried to generate nuxt project using `nuxt generate` command, then I inspect the source code. I see that the lang attribute on html tag isn't generate according to its locale. For instance if my default language was Indonesia, then all of another language also generate in Indonesia.

### Proposed Solution
The language attribute generate according to its locale.

<div alig

[2018-03-20 19:03] jefrydco opened #49 "[Bug Report] Custom Routes Doesn't Work"
### Versions and Environment
**Nuxt I18n:** 2.7.1
**Nuxt:** 1.4.0
**Vue:** 2.5.13
**Browsers:** Chrome 65.0.3325.162
**OS:** Linux x86_64

### Steps to reproduce
1. Clone the repository on the link below, run `npm run dev` or `npm run generate`.
2. Open `/hello` and `/halo`.

### Expected Behavior
`/halo` display the indonesia-translated version of `/hello`

### Actual Behavior
`/halo` display err

[2018-03-20 20:24] jefrydco commented on #49
I don't know what cause this doesn't work for me. I just try it again and it's worked. :smile:

[2018-03-20 20:24] #49 closed

[2018-03-21 00:09] jefrydco opened #50 "[Feature Request] Use Folder Name Without Index in Custom Routes"
### Problem to Solve
If I use folder-based routing, i have to write
[code]

### Proposed Solution
Why not just write the name of folder without `index` as same as for file-based routing,
[code]

[2018-03-21 14:50] manniL commented on #50
I think this is already working with the right folder structure.

[code]

Use the `register.vue` component to always display the child:

[code]

[2018-03-21 22:16] paulgv commented on #48
Hi @jefrydco !
Could you share the config you are using with nuxt-i18n, as well as the module's version and a preview of your files structure?
I've done some tests locally with v2.7.1 and the lang attribute seems to be set properly for each language.

[2018-03-21 23:13] #47 closed

[2018-03-21 23:17] paulgv commented on #47
Hi @Azeranex !
Thanks for reporting this, I made a small change to nuxt-i18n's middleware to prevent it from switching the locale when navigating to an ignored route, this should fix your issue.

[2018-03-21 23:38] paulgv commented on #45
Hey guys! Thanks for reporting this, the option's handling was a bit restrictive indeed, you should be able to achieve what you want with nuxt-i18n@^2.8.0 :)

[2018-03-21 23:50] MitsuhaKitsune commented on #45
I test it now on clean browser instance with nuxt-i18n@2.8.0, but on my case still showing 404 without redirect to language.

This is my module configuration:

[code]
This issue are present too when I try to access to one of my pages without language code, not only with the index, for example, if I try to access to http://localhost:3000/en/news it works as expected, same if I try with 'es' but if

[2018-03-22 01:54] #45 closed

[2018-03-22 01:56] paulgv commented on #45
Woops sorry @MitsuhaKitsune, I read your comment too fast and assumed your problem was the same as @NadhirBoukhenifra 😅
Could you give v2.8.1 a try? It should cover your use case.

[2018-03-22 02:28] MitsuhaKitsune commented on #45
Tested nuxt-i18n@2.8.1 on clean browser instance, now the root path are redirected as expected very nice job ^^

The other routes still with a little issue, now when I try to access to http://localhost:3000/news don't show the 404 error but I get redirected to http://localhost:3000/en instead http://localhost:3000/en/news

[2018-03-22 12:59] paulgv commented on #45
Thanks @MitsuhaKitsune, I like your approach and I'll implement it asap :)
I'm planning on refactoring the module's code sometime to make it more scalable but I'm kinda waiting on Nuxt 2.0 to be released as it will bring better support for ES6 which should facilitate modules' development.

[2018-03-22 14:03] MitsuhaKitsune commented on #45
I have more things to make nuxt better, but I think this should implemented on nuxt core instead i18n, actually nuxt have a duplicated content problem on his routes too, for example:

`/news/` and `/news` both are valid and the same route, but for SEO it's a big problem, should be more strict and generate only one mode, for example if it's a folder generate only a `/foldername/` and don't allow ac

[2018-03-22 14:25] paulgv commented on #45
If you want to work on the module's code, I'd recommend you clone the source into your project, in a directory that's being watched in dev mode. You can change your `nuxt.config.js` to use the local module instead of the one in node_modules/, ie:

[code]

[2018-03-22 18:41] jefrydco commented on #48
Hi @paulgv

Thanks for replying, I tried it again using new project setup and its worked as expected. I don't know why that could be happen. On my other project it doesn't work.

[2018-03-22 20:11] paulgv commented on #19
Hey @Guito I ended up releasing the feature in v2.9.0 but I hadn't noticed your comment.
I'm not sure what might be the issue with the port, is your app running on multiple ports at a time?

[2018-03-22 20:28] martinrisseeuw opened #52 "[Bug Report] Breaks when you have extendRoutes defined"
First of all great plugin! I found a bug when you define extendRoutes (https://nuxtjs.org/api/configuration-router/#extendroutes) the Nuxt app breaks because of the module. The error it returns in the terminal is as follow:

[code]

I created a gist with my Nuxt config: https://gist.github.com/martinrisseeuw/e1ffea12757710c4ff94ef1d95f5cf4b

Do you maybe have a solution or workaround that I can us

[2018-03-23 09:37] Guito commented on #19
Hi @paulgv

I've been trying with the new release and the problem still persists. My application runs on the port 3000 but I have an nginx redirecting the traffic to the different ports.

My config:
[code]

And I have checked the languages splitted by domain and they are splitted correctly, but also added to the app.js. I guess I need to do something else so they don't get added in both places?

[2018-03-23 10:01] Guito commented on #19
Ok, the problem was the if. This is not working:
[code]

This is working:
[code]

[2018-03-23 10:18] NadhirBoukhenifra opened #53 "Cannot read property 'headers' of undefined after Nuxt Generate"
Hello,
another error appears after run `npm run generate`.

Steps:
1. try create a new nuxt project like:
`vue init vuetifyjs/nuxt my-project` then `npm install` or `yarn`

2. install this `nuxt-i18n` plugin:
`yarn add nuxt-i18n` then add some configuration to `nuxt.config.js`.

3. `npm run dev` works fine.

5. `npm run generate` shows many errors: like this:
[code]

6. im sure that the errors fro

[2018-03-24 15:51] jefrydco commented on #50
Thanks, it worked!

[2018-03-24 15:51] #50 closed

[2018-03-25 08:19] roshangara opened #54 "cant read messages from .js files"
i make en-Us.js file in lang folder and put this code
`export default {
  "welcome" : "sdfs",
  account_description: 'Account description',
}
`
but not loaded.
i found problem there
`/**
 * Asynchronously load messages from translation files
 * @param  {VueI18n}  i18n  vue-i18n instance
 * @param  {String}   lang  Language code to load
 * @return {Promise}
 */
export function loadLanguageAsync (i1

[2018-03-26 01:58] paulgv commented on #54
Hi @roshangara !
At the moment, I'd recommend you use the "classic" export method by replacing `export default {` with `module.exports = {`. It should do the trick :)

[2018-03-26 02:04] paulgv commented on #53
Hey! Could you share the config you're using with nuxt-i18n? I've tried generating a vuetifyjs/nuxt project with a very basic configuration and didn't encounter this issue.
nuxt-i18n should work with generate but the main focus is SSR/SPA at the moment.

[2018-03-26 02:13] #52 closed

[2018-03-26 02:15] paulgv commented on #52
Hi @martinrisseeuw, thanks for reporting this! This issue should be fixed in v2.9.1, hope you can give it a try!

[2018-03-26 09:32] NadhirBoukhenifra commented on #53
[code]

[2018-03-26 11:43] paulgv commented on #53
The problem would be that you have enabled translations lazy-loading, which can't work in generate mode (there is no information about this limitation, I should get to it :/).

[2018-03-27 02:53] blooddrunk commented on #54
I've tried `module.exports` in my lang file which integrates locale from `element-ui`  but got an error like below
[code]
here's my lang file,
[code]

change it to es2015 syntax solves the issue but result in an expected `default` key in my i18n messages object.
[code]

How could I get around this problem?

[2018-03-27 03:33] blooddrunk commented on #54
I ended up calling `app.i18n.mergeLocaleMessage(locale, elementLocale)` in  `onLanguageSwitched`(So did `vee-validate`'s dictionary localization). Since `beforeLanguageSwitch` would always call `setLocaleMessage` if `loadLanguagesAsync ` is turned on.

[2018-03-27 05:31] javialon26 opened #55 "vue router warning"
In all routes with more than one level i have this warning:

```[vue-router] Route with name 'usuario-editar-perfil-es-es' does not exist```

Examples:

Route: http://localhost:3000/usuario/editar-perfil
[vue-router] Route with name 'usuario-editar-perfil-es-es' does not exist

Route: http://localhost:3000/usuario/mis-anuncios
[vue-router] Route with name 'usuario-mis-anuncios-es-es' does not exis

[2018-03-27 05:31] #55 closed

[2018-03-27 05:34] javialon26 commented on #55
@paulgv

[2018-03-27 06:48] adetbekov opened #56 "Switch off prefixes for all locales in the client"
It would be nice to add toggle of removal locale codes in URLs exactly for the client. And automatically redirects to "clean" version of url in the client only.

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/nuxt-i18n/issues/c45">#c45</a>)</em></sub></div>

[2018-03-27 10:39] martinrisseeuw commented on #52
@paulgv Great it works. Thanks a lot!

[2018-03-28 03:07] javialon26 opened #57 "Warning vue router"
In all routes with more than one level i have this warning:

```[vue-router] Route with name 'usuario-editar-perfil-es-es' does not exist```

Examples:

Route: http://localhost:3000/usuario/editar-perfil
[vue-router] Route with name 'usuario-editar-perfil-es-es' does not exist

Route: http://localhost:3000/usuario/mis-anuncios
[vue-router] Route with name 'usuario-mis-anuncios-es-es' does not exis

[2018-03-28 11:41] paulgv commented on #57
Hi @javialon26, what does the files structure look like in your pages directory?

[2018-03-28 11:46] paulgv commented on #55
Duplicate of https://github.com/nuxt-community/nuxt-i18n/issues/57

[2018-03-28 14:14] javialon26 commented on #57
@paulgv this is the pages directory and now the same warning happens with all pages inside ayuda directory

![screenshot from 2018-03-28 11 04 30](https://user-images.githubusercontent.com/8138654/38034583-fcb969d2-3278-11e8-8c30-650a4600b734.jpeg)

[2018-03-28 16:25] adetbekov opened #58 "Vue-i18n-loader does not work"
There is the problem in the main loader. In the documentation of vue-i18n, translations could be defined in the Single page component(<i18n></i18n>) by the following configs in the rules module:
`module: {
    rules: [
      {
        test: /\.vue$/,
        loader: 'vue-loader',
        options: {
          loaders: {
            // you need to specify `i18n` loaders key with `vue-i18n-loader` (h

[2018-03-28 16:25] #58 closed

[2018-03-29 15:42] benoitemile commented on #58
Hi, there was a huge revamp in vue-loader by Evan, here's what I've done to make it work :
in vue sfc :
[code]
[code]

[2018-03-29 16:01] adetbekov commented on #58
@benoitemile That is not working for me 😔
[code]
[code]

[2018-03-30 21:02] adetbekov commented on #58
@benoitemile Sorry, vue-loader@next crushes styles(I use sass-loader), so I just installed simple vue-lodaer. Nothing changed.
[code]

[2018-04-01 18:13] benoitemile commented on #58
hi @adetbekov , here's my package.json atm
[code]

here's a part of my nuxt.config.js
[code]

here's my vue-i18n.js
[code]

here's a i18n part of a component :
[code]

and finally the results :
https://i.imgur.com/F066MWU.png
https://i.imgur.com/BYArnvq.png

In the nuxtServerInit, we have some logical to handle marketLanguage from the http request.

Let me know if you're still having issues

[2018-04-02 07:29] adi-zz opened #59 "Is there a way to add "github issues" for this project?"
If I want to [add a new GitHub issue](https://github.com/nuxt-community/nuxt-i18n/issues/new), I see a message saying

If I use [that link](https://nuxtjs.cmty.io/issues/new) to post my question, it will won't appear on this project GitHub page, but it will end up [here](https://nuxtjs.cmty.io/nuxt/docs/issues/c76).

[2018-04-02 07:29] #59 closed

[2018-04-02 14:38] ezypeeze opened #60 "Accept async return from language files"
### What problem does this feature solve?

At the moment its possible to load language files asynchronous using dynamic imports, would be also nice to accept promises as returned value.

This way we can fetch translation messages from an API for example.

Example:
[code]

Also, it would be nice to have a translation message provider option (we could use ```loadLanguagesAsync``` to also accept a fu

[2018-04-02 15:32] paulgv commented on #59
cmty is still a bit confusing for me too, I'd expect it to be a complement to GitHub issues, not an attempt to replace them completely. But since it's still a new thing, I guess we'll have to see how it evolves and how we get used to it :)

[2018-04-03 08:05] adi-zz commented on #59
unfortunately, it was my fault, i didn't pay attention to the `I am opening an issue for` drop-down list. sorry

[2018-04-03 08:12] adi-zz commented on #59
@paulgv as a small improvement, maybe you can change from the [GitHub new issue page](https://github.com/nuxt-community/nuxt-i18n/issues/new), from `https://nuxtjs.cmty.io/issues/new` to `https://nuxtjs.cmty.io/issues/new?repo=nuxt-community%2Fnuxt-i18n`.

[2018-04-03 11:47] paulgv commented on #59
Done! Thanks @adi-zz

[2018-04-03 18:27] moifort commented on #58
Hello everybody, I have an alternative solution, if you are interesting.

## Explanation
The problem by adding the webpack configuration like below, is that you overwrite all of `vue-loader` rules set by `Nuxt`.

[code]

A simple `console.log()` on the `webpack` configuration:
[code]
[code]

## Solution
 The simplest way it's to add the configuration like below
[code]
## Full Setup
Install `vue-i1

[2018-04-04 15:53] nicoladl commented on #53
In this case I used vue-i18n instead of nuxt-i18n so I can import (lazy-load) translations and redirect to locale via js into the middleware

[2018-04-04 20:00] michaelwills commented on #60
We can already return a promise in the language files but it would be neat to do so in `loadLanguagesAsync` or some other property. Looks like some updates to the templates would be needed.

It's helpful as right now each language needs to duplicate the same albeit small template to do what could be done within the config.

[2018-04-05 08:37] lucpotage opened #61 "[edge] Content Security Policy: The page’s settings blocked the loading of a resource at self (“default-src”)"
I was trying to use nuxt-i18n with the version 2 of Nuxt but I got the following errors:

[2018-04-05 08:37] #61 closed

[2018-04-05 09:02] lucpotage commented on #61
Forgot to add with cmty. Sorry.

[2018-04-05 09:55] lucpotage opened #62 "The option ignorePaths does not work as expected"
### Version

[v2.9.1](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v2.9.1)

### Reproduction link

https://github.com/lucpotage/bug-nuxt-i18n-ignore-routes

### Steps to reproduce

Using Nuxt 1.4.0 and Nuxt i18n 2.9.1, add the following config for the module:

[code]

### What is expected ?

The route `/fr/contact-us`/ is reachable whereas the path is ignored in the configuration.

Bet

[2018-04-05 10:46] ezypeeze commented on #60
@michaelwills

Something like this would do the job.
[code]

[2018-04-05 13:14] timrijkse commented on #37
When setting `detectBrowserLanguage` to `true` I get the following error:

```[vue-router] Route with name 'null-nl' does not exist```

*I tried debugging the error:*
```console.log('route:', route && route.name, app.getRouteBaseName(route.name))```

*Which results in:*
```route: index-en null```

Any idea why `app.getRouteBaseName(route.name)` is `null`?

[2018-04-05 13:30] MoeCasts opened #63 "How can I separate the config from nuxt.config.js"
I want to separate the nuxt-i18n configuration to /plugins/i18n.js. How can i make it?

[2018-04-05 13:30] #63 closed

[2018-04-05 14:19] moecasts opened #64 "Vue Router Warning when set detectBrowserLanguage true"
That's my config.

[code]

And that's my pages structure
[code]

When I run it, it put out warning like this.
[code]

How can I fix it?

[2018-04-05 14:19] #64 closed, assigned to nobody

[2018-04-05 19:12] MoeCasts commented on #57
I fixed the problem by rewrite this code.

[https://github.com/nuxt-community/nuxt-i18n/blob/38325e2a0b49b2abe25a6abaed663fa3aa7f27f4/lib/templates/i18n.routing.middleware.js#L37](url)

const routeName = route && route.name ? app.getRouteBaseName() : 'index';

[2018-04-05 19:28] MoeCasts opened #65 "[BUG Report] getRouteBaseName and detectBrowserLanguage error"
There are some errors in the moduld.

That's the getRouteBaseName function code.
[code]
[code]
It's obvious that the function need a route argument, but there is a route.name been given.

It will cause that
[code]
I hope the author can fix as quick as possiable.

[2018-04-05 19:28] #65 closed

[2018-04-05 19:36] MoeCasts commented on #65
@paulgv The bug just change app.getRouteBaseName(route.name) to app.getRouteBaseName(route). Can you change it in the new version?

[2018-04-06 00:40] paulgv commented on #65
Thanks @MoeCasts ! This will be fixed in next release.

[2018-04-06 00:41] paulgv commented on #64
Thanks again for the report @MoeCasts
See https://nuxtjs.cmty.io/nuxt-community/nuxt-i18n/issues/c57 for follow up

[2018-04-06 00:46] paulgv commented on #63
Hi @MoeCasts
You can put all your config in a separate module and import it into `nuxt.config.js`, it that what you meant? There's an example here: https://github.com/paulgv/nuxt-i18n-example

[2018-04-06 00:58] paulgv commented on #61
Hi @lucpotage
Hopefully I can give nuxt edge a try in the coming days, I want to take the opportunity to rewrite some parts of the module :)

[2018-04-06 01:05] paulgv commented on #62
Thanks @lucpotage I like the idea of improving the `ignorePaths` option I'll keep your comments in mind for the next version.
I actually think it's working as expected in your case, what this option does is it does not generate localized paths for the given paths. So if you don't want `/contact-us` to be translated, you need to add `/contact-us` to your `ignorePaths`, then `/fr/contact-us` should

[2018-04-06 05:03] MoeCasts opened #66 "How to initialize language from localStorage"
I want to jump to the cached language in localStorage when the page loads

[2018-04-06 05:03] #66 closed

[2018-04-07 01:12] javialon26 commented on #57
After the update the warning is still showing but i found the problem.

I have a custom breadcrumb component with a localePath method in a nuxt-link tag. The name param is taken from the store and the value is loaded in a middleware with the value of route.name, this value already has -es or -en suffix and when is passed to localePath the suffix is added again.

This will be fixed or i need to tak

[2018-04-09 13:55] rubat opened #67 "No nuxt-i18n properties when using i18n one file component translation"
### Version

[v3.2.3](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v3.2.3)

### Reproduction link

[https://github.com/nuxt-community/nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n)

### Steps to reproduce

Using Nuxt 1.4.0 and Nuxt i18n 3.2.3, vue-i18n-loader 0.3.0

Config for the i18n module:
[code]

Config for the build loader:

[code]

Component file:
[code]

### What is ex

[2018-04-10 07:43] Vlaoff opened #68 "Prevent reload on switchLocalePath"
### What problem does this feature solve?

When you change the locale  the page is reloaded.
If you switch the language when typing a form, or editing something, all your changes are lost (one could prevent that with the provided callbacks, but it's quite a lot of work to do it for all the cases in your app

### What does the proposed changes look like?

It's easy to simply change the locale with

[2018-04-11 09:44] lucpotage commented on #62
Unless I am mistaken, it does not work as expected. I have updated the reproduction link in my initial post. You will see I have added in Nuxt config the following snippet:

[code]

According to your previous reply, the path '/fr/contact-us' should not be rendered nor generated. But it's not the case. I have noticed two issues:

1. With `nuxt generate`, the ignored paths are generated as HTML page

[2018-04-12 12:22] eddiesigner opened #69 "Issue with the redirect cookie"
### Version

[v2.6.1](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v2.6.1)

### Steps to reproduce
Using Nuxt 1.4.0 and Nuxt i18n 2.6.1, add the following config for the module:

[code]

### What is expected ?

If I change the language on my application from english to german the language havs to be the same (the last selected) even if I refresh the page.

If I change the language on m

[2018-04-12 12:22] #69 closed, assigned to nobody

[2018-04-12 12:37] eddiesigner opened #70 "Issue with the redirect cookie"
### Version

[2.6.1](https://github.com/nuxt-community/nuxt-i18n/releases/tag/2.6.1)

### Reproduction link

[https://github.com/nuxt-community/nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n)

### Steps to reproduce

Using Nuxt 1.4.0 and Nuxt i18n 2.6.1, add the following config for the module:

[code]

### What is expected ?

If I change the language on my application from english to germ

[2018-04-12 13:00] paulgv commented on #70
Hi @eddiesigner
The `useRedirectCookie` option is actually meant to prevent those excessive redirections, is there any reason your disabled? I'd recommend you set it to `true` :)

[2018-04-12 13:16] eddiesigner commented on #70
Oh, I forgot to say, I had that value before but it was the same 😞 for that reason I think that line is `true` every time, it doesn't matter if you put false or true on the `useRedirectCookie` option.

At least in my application the line numer 40 is always reached :/

https://github.com/nuxt-community/nuxt-i18n/blob/develop/lib/templates/i18n.routing.middleware.js#L40

[2018-04-12 15:08] javialon26 commented on #57
any news on this?

[2018-04-12 22:46] michaelwills commented on #60
@ezypeeze something like that yes. I haven't checked to compare but `result()` might need to pass the `lang` parameter but just looking at this it looks correct. Nice!

[2018-04-13 14:32] lucpotage commented on #21
Yes I think so.

The routes option of generate lets you specify paths. It means that Nuxt will try to find a page that matches the route in order to generate the related HTML file.

This module only works with pages because it creates multiple localized routes from a single page.

Now, if you want to enable localization with generate.routes, how would you provide a different payload for each langu

[2018-04-16 22:49] #70 closed

[2018-04-16 22:52] paulgv commented on #70
Hey @eddiesigner
Sorry for the delay. I looked into the issue and it does look like there were some pretty inconvenient bugs in the middleware 😓
I pushed a fix in v2.9.4 which should solve your issue, I hope you can give it a try and give me some updates :)

[2018-04-16 23:01] paulgv commented on #57
Hi @javialon26 !
Sorry I've not been able to spend much time on the module lately.
If your paths are already localized, you don't need to use `localePath`, you can simply pass them as is to `<nuxt-link>`, any way you could do that?

[2018-04-17 02:45] paulgv commented on #19
Closing this for now, will have to double check this in upcoming release https://github.com/nuxt-community/nuxt-i18n/pull/72

[2018-04-17 02:45] #19 closed

[2018-04-17 07:47] eddiesigner commented on #70
Awesome! Thank you so much @paulgv! 😄

I've already tested it and is working as expected 👍

[2018-04-17 15:43] alexkcollier opened #73 "nuxt-link does not work in transition-group"
### Reproduction link

[https://github.com/nuxt-community/nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n)

### Steps to reproduce

1. Install nuxt
2. Install and configure nuxt-i18n
3. Place nuxt-link in transition group with or without localePath()

nuxt.config.js
[code]

index.vue
[code]
![error.png](https://cmty.s3.eu-west-1.amazonaws.com/110467581/fa55a3d0-4255-11e8-b6c5-17d974211996.p

[2018-04-17 16:09] paulgv commented on #73
Hi @alexkcollier
I'm currently unable to reproduce the issue on a fresh install. What versions of Nuxt and nuxt-i18n are you using? What's in your pages directory?
It would really help if you could provide a sample project with the issue.
At first glance, I'm not sure this has anything to do with `<transition-group>` and I don't see how it could be related to nuxt-i18n either, so I'll need more de

[2018-04-17 16:57] alexkcollier commented on #73
I've tested with nuxt 1.0.0 and 1.4.0 with nuxt-i18n 2.9.2 and 2.9.4.

My pages directory contains index.vue, new.vue and README.md. This is in a fresh instance of nuxt created through `npx create-nuxt-app .` with no extra packages other than nuxt-i18n.

I tried running with `npm run dev` and `npm start`, and the issue only occured in dev. The issue also only occurs when nuxt-i18n is loading in nu

[2018-04-18 04:52] amazzoccone commented on #54
Hi @blooddrunk . I think it's a bug in the documentation of this package. Lang files should be .json.
In `nuxt.config.js` for example:
[code]

[2018-04-18 09:11] manniL commented on #54
@amazzoccone Location files can be js files as well! They need the correct export though ([Example](https://github.com/Developmint/developmint.de/blob/master/i18n/en.js))

[2018-04-19 13:13] paulgv commented on #73
@alexkcollier I invited you to collaborate to this repo: https://github.com/paulgv/nuxt-i18n-transition-group-issue
I've tried reproducing your issue there but everything works fine so maybe you'll manage to do it so I can have a look afterward.

Thanks!

[2018-04-19 13:55] alexkcollier commented on #73
I've reproduced with your repo as well, but I've also managed to get it to stop reproducing in all instances on my main computer.

Stack trace pointed me here in .nuxt/client.js:
[code]
So I went back to my original repo which is using cross-env, built and ran in production. Everything worked as intended, no errors, in my repo and your repo. Switched to dev with cross-env and I've had no issues wi

[2018-04-19 13:58] alexkcollier commented on #73
I left it running in the background on my computer while replying, went back and tried the links, and the issue occurred again.

[2018-04-20 05:53] mohanklein commented on #36
I am having the same problem, my use case is that I don't want to restart dev server everytime I change my translatin file (e.g. en.json or en.js)

[2018-04-20 12:37] katafractari commented on #36
I'm currently using **nodemon** for this purpouse. But still a full restart of the dev server is needed to reload the translations.

package.json
[code]

[2018-04-20 17:34] DreaMinder commented on #56
Agree. For example if you use i18n for web-app, it would be nice to remove locale prefixes from URLs.

[2018-04-26 04:48] Extarys commented on #57
I have the same issue, I opened another ticket for it though. [Can't make i18n to work (Cannot continue my project without it)](https://nuxtjs.cmty.io/nuxt-community/nuxt-i18n/issues/c69#comment-5ae0c6df9d07830014695658) - Ignore the first part I was setting it up the 'old' way (I found that 6 hours later :P)

[2018-04-27 08:25] sudhir600 commented on #53
i am using vue-i18n  but getting same issue.

[2018-04-30 15:12] david50407 opened #76 "Allow decorators (and TypeScript) in component"
### What problem does this feature solve?

Allow using decorators inside component (and TypeScript).

I'm using TypeScript in `.vue` files with `nuxt-property-decorator`.
Since nuxt-i18n 3.x is using acron to parse each component files to check `i18n` property, it will throw exception on decorations (e.g. `@Component` from `nuxt-property-decorator`)

As I know, acron has a plugin [acron-es7](https

[2018-04-30 15:40] paulgv commented on #76
Hi @david50407 !
Thanks for reporting this issue, I admit that I never thought of TypeScript while developing v3...
I'd love to have a way of loading components via Webpack to get their options but I simply don't know how to get started :disappointed:  I did a quick test with acorn-es7 plugin but it's not plug & play, I'll need to give it a better try.
I'd love to have your take on the Webpack app

[2018-04-30 17:02] lucpotage opened #77 "Cannot translation with v3.0.0"
### Version

[v3.0.0](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v3.0.0)

### Reproduction link

[https://github.com/nuxt-community/nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n)

### Steps to reproduce

Upgrade from 2.10.0 to v3.0.0.

### What is expected ?

The keypaths should be translated.

### What is actually happening?

The module does not translate the keypaths.

###

[2018-04-30 17:37] paulgv commented on #77
Hey! Did you update you config following the Migration guide? https://nuxt-community.github.io/nuxt-i18n/migrating.html
Could you share your config here so I can have a better understanding?
I've been using v3 with lazy loading enabled and disabled without any issue this far.

[2018-05-01 16:46] njam commented on #21
I tried implementing generation of dynamic routes defined in `generate.routes` with this module, but it's very difficult if not impossible because of the custom paths per language. Basically in the hook `generate:extendRoutes` we would need to look up the original *route* matching a generated *path*, then look up the corresponding localization options and then generate localized paths.

If you don

[2018-05-01 17:53] albanm opened #78 "Acorn raising syntax errors"
### Version

[v3.1.0](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v3.1.0)

### Reproduction link

[http://sorry-i-dont-have-a-link.com](http://sorry-i-dont-have-a-link.com)

### Steps to reproduce

In src/helpers/components.js acorn raises syntax errors while parsing some of my modules. I use recent ecmascript syntax, but nothing crazy. It seems that the failure is related to this com

[2018-05-01 18:04] metalanti opened #79 "Possibility to localize dynamic routes"
### What problem does this feature solve?

*I'm not sure if it is possible :)*
I have a route `/article/:slug` (en) and I'd like to translate it to other languages with translated `slug`
Eg: (en) `/article/first-article` and (de) `/de/artikel/erste-artikel`

Now I can do this:
`article.vue`
[code]
but I can't change the `slug` based on the article's data

### What does the proposed changes look li

[2018-05-01 19:26] paulgv commented on #78
Hi @albanm
I'd love to implement a better solution that would not rely on acorn but I need a way of getting components options at compile-time and I didn't know how else to do.
It was suggested by @david50407 (https://nuxtjs.cmty.io/nuxt-community/nuxt-i18n/issues/c71) that the components could be loaded via Webpack to get the options and that sound like a nice way to go but I'd need some help to

[2018-05-01 19:32] paulgv commented on #79
Hi @metalanti
This can already be achieved by passing the translated slug to `<nuxt-link>`, it might look something like this (not necessarily the best way but it should give you some pointers):

[code]

[2018-05-02 08:58] metalanti commented on #79
thank you!
so it's a solution,
but the Lang switcher with `switchLocalePath` won't work this way

I think if my request can be done, it would be more elegant :)

[2018-05-02 13:37] maxmckenzie opened #80 "Cannot read property 'iso' of undefined"
^ I am not handing this site a token for my github account.

i'm getting the error

`Cannot read property 'iso' of undefined`

i'd like to know which iso you are using there is `es` v1 of the iso and `es-ES`

soooooo which is it.

[2018-05-02 13:37] #80 closed

[2018-05-02 13:38] maxmckenzie commented on #80
ah i see your bot closes the ticket if i dont open it somewhere else.

[2018-05-02 13:39] maxmckenzie commented on #80
BOOOOOOOOOOOOO!!!!! this sucks. why remove github functionality and make me use this cmty thing.

BOOOOOOOOOOOOOOOO

[2018-05-02 14:08] matthieudou commented on #78
Got same kind of error... (And the error message is really not helpful at all...)

[code]

[2018-05-02 14:25] maxmckenzie commented on #80
even when you use the correct ISO code there is still the error.

[2018-05-03 21:44] dave2k2 commented on #24
@RomainLK did you ever find a resolution to this? facing a similar issue  using middleware to redirect based on a token existing within the store

[2018-05-04 10:18] phucvo0709 opened #81 "How to add routes params in nuxtjs.config.js?"
How to add routes params in nuxtjs.config.js i try but not working

code router:
 `  <nuxt-link :to="localePath({ name: 'thiet-ke-web', params: { slug: price.slug_prices } })"></nuxt-link>`

code in nuxtjs.config.js
![untitled](https://user-images.githubusercontent.com/35060381/39623239-2aedd898-4fbf-11e8-9a9e-422f9ff77c8f.png)

[2018-05-04 10:18] #81 closed, assigned to nobody

[2018-05-06 17:11] saintplay opened #82 "Regression - nuxt generate doesn't generate static routes"
### Version

[v3.1.0](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v3.1.0)

### Reproduction link

[https://github.com/paulgv/nuxt-i18n-example](https://github.com/paulgv/nuxt-i18n-example)

### Steps to reproduce

Running `nuxt generate ` in version 3, only generates index.html.

In version 2 `nuxt-generate` generates all static routes

### What is expected ?

All routes statically ge

[2018-05-06 20:50] klessou commented on #78
I've got the same issue, it seems to come from the object spread operator.

[2018-05-07 09:19] Extarys commented on #78
I rolled back to 2.9.5 in the mean time.

[2018-05-07 16:36] Tajnymag commented on #82
Can confirm.

[2018-05-08 15:52] andrade1379 commented on #18
@hlozancic, of course, I can.

1. Add the es6 package to your project. https://yarnpkg.com/en/package/babel-es6-polyfill
2. Add the config for the package within your Nuxt config file like so:
[code]
That should be all you need to do. Let me know if that works for you. Good luck!

[2018-05-08 16:55] callmewhy opened #83 "cannot upgrade from 2.0"
### Version

[v3.1.0](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v3.1.0)

### Reproduction link

[https://nuxt-community.github.io/nuxt-i18n/basic-usage.html](https://nuxt-community.github.io/nuxt-i18n/basic-usage.html)

### Steps to reproduce

1. npm install i18n-nuxt
2. edit nuxt.config.js
3. npm run dev

### What is expected ?

it should work

### What is actually happening?

thro

[2018-05-08 18:03] paulgv commented on #78
Hi all!
Sorry for the late answers.
I'm working on bringing back the routes configuration method that was in v2 so you can choose between setting custom routes in the pages or in the module's options.
Should be done soon. In the meantime, I'd suggest you stick with v2.
Hopefully, I'll be able to improve the parsing method in the future, still don't know how exactly.

[2018-05-08 18:04] paulgv commented on #83
Hi @callmewhy
Please follow this issue for more info: https://nuxtjs.cmty.io/nuxt-community/nuxt-i18n/issues/c73

[2018-05-08 18:06] paulgv commented on #80
Hi @maxmckenzie
What does your config look lilke?

[2018-05-08 19:58] Extarys commented on #78
I can't complain, I think your doing a really good job - I love this plugin.

[2018-05-09 01:16] paulgv commented on #78
Thanks @Extarys <3
I just released v3.2.0 in which you'll be able to switch back to configuring custom routes in the module's configuration. It's all documented here: https://nuxt-community.github.io/nuxt-i18n/routing.html#custom-paths
I hope it completely solves these issues you've been having!

[2018-05-09 09:07] Extarys commented on #78
I'll try tomorrow - May I ask why we saw those errors?Personnaly I love having every routes at the same place. Makes it easier to manage - I'm already confused with all the layouts and pages calling each other.

[2018-05-09 09:12] maxmckenzie commented on #80
Hey @paulgv thanks so much for the reply, unfortunately, I'm working on a time-sensitive project. So I've now gone with just using vue and rolling my own boilerplate. As such i've removed the config and i didnt commit a version of it so its not in my git history.

If i get some time spare i shall try to replicate the issue.

[2018-05-09 12:02] hlozancic commented on #18
Nope still same error... But we resolved this issue on another way.

If anyone else has same problems... this was our solution:

1. To /plugins add findIndex-polyfill.js (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex#Polyfill)
2. to nuxt config, inside plugins add that plugin ~/plugins/findIndex-polyfill.js

Thats it...

[2018-05-09 13:04] paulgv commented on #82
Hi! I'll give this a try ASAP!

[2018-05-10 01:52] paulgv commented on #78
@Extarys I had the feeling it would be more intuitive to configure routes in page files rather than in the configuration, looks like it's not necessarily ideal after all. Personally, I think I'll use one way or the other depending on the project.

[2018-05-10 09:39] Guito opened #84 "How to use $t in a .js file?"
I have a filter.js file in which I store my Vue filters. I now need to translate some of the content, so basically I want to do something like this:

_File: filters.js_
[code]

Is it possible?

[2018-05-10 09:39] #84 closed

[2018-05-10 10:40] mahnuh opened #85 "TypeError: Cannot read property 'options' of null"
### Version

[v3.2.0](https://github.com/nuxt-community/nuxt-i18n/releases/tag/v3.2.0)

### Reproduction link

[https://github.com/nuxt-community/starter-template](https://github.com/nuxt-community/starter-template)

### Steps to reproduce

- init project using nuxt starter template
- add nuxt-i18n

### What is expected ?

npm run dev will work

### What is actually happening?

When running npm ru

[2018-05-10 10:43] FransTwisk commented on #85
I was about to open an issue for this as well, but you beat me to it! Experiencing the exact same thing after upgrading from v2 and adjusting all necessary configurations.

[2018-05-10 10:47] mahnuh commented on #85
@FransTwisk how did you configure it?

[2018-05-10 10:57] FransTwisk commented on #85
Options are stored in `config/i18n.js` and imported into `nuxt.config.js`:

const { I18N } = require('./config/i18n.js')

['nuxt-i18n', I18N]

[2018-05-10 11:36] mahnuh commented on #85
3.0.0 and 3.1.0 do not work as well.

[2018-05-10 11:46] #85 closed

[2018-05-10 11:54] paulgv commented on #85
Hi! This should be fixed in v3.2.1, it looks like an issue with latest releases of `esm`, the version is now locked to 3..0.28 which should work properly!

[2018-05-10 12:13] mahnuh commented on #85
Awesome, thanks!

[2018-05-10 12:16] FransTwisk opened #86 "Set cookie to locale that it redirected to, and always redirect (unless manually switched to different locale)"
### What problem does this feature solve?

I implemented my own version of detectBrowserLanguage when I was still using an older version of nuxt-i18n and I was happy to see this feature was added in a later version! I just tried it out, and I think the current implementation can be improved, because now it will only redirect the first time, not when a user returns to the main url.

### What does t

[2018-05-10 12:27] mahnuh commented on #80
@paulgv here you can find a project with this error: https://github.com/mahnuh/nuxt-test

[2018-05-10 13:11] paulgv commented on #80
Thanks @mahnuh !
There were some checks missing in the SEO plugin, the issue should be fixed in v3.2.2 :smiley:

[2018-05-10 13:19] mahnuh commented on #80
Thanks @paulgv , you just made my day - again! 😃

[2018-05-10 15:13] mahnuh opened #88 "Add @nuxtjs/router support"
### What problem does this feature solve?

At the moment when I want to use localised URLs with @nuxtjs/router I can not use the nuxt-i18n page config but have to manually add a route for every language to router.js.

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/nuxt-i18n/issu

[2018-05-10 19:30] andrade1379 commented on #18
@hlozancic well, I don't know what error you're getting but glad you found a solution.

[2018-05-11 07:36] Guito commented on #84
@posva Not working :(

[2018-05-13 10:00] Tajnymag commented on #82
Even though it's not really a complete solution, what works is to add:
[code]

[2018-05-13 13:52] adetbekov commented on #58
@moifort OMG! OMG! It works after updating some npm packages. THANKS!😭

[2018-05-13 16:29] moifort commented on #58
👍

[2018-05-15 13:52] janpauldahlke commented on #78
@klessou confirmed. removingn ES object spread solved in page solved it for me.

[2018-05-23 14:26] tomexx opened #89 "Separate lang file per component"
Is it possible to have translations separated on component level?

[2018-05-23 14:26] #89 closed

[2018-05-24 11:52] paulgv commented on #89
Hi @tomexx
I like the idea and it might be possible to implement this by using the in-component `i18n` property.
I should have some time to work on the module in the coming days, hopefully this is something I can give a shot at.

[2018-05-27 16:00] AnthonyConklin commented on #78
I would suggest adding in [https://github.com/acornjs/acorn-object-spread](https://github.com/acornjs/acorn-object-spread) ... which adds support for object spread operator.

[2018-05-27 19:06] paulgv commented on #78
Hey, just released v3.2.4 which has ecmaVersion set to 9
It kinda feels like a temporary fix but it's something!
@Atinux gave me some nice tips to improve the way this works but I'm still lacking time to implement it :/

[2018-05-31 14:39] unr commented on #24
Still haven't found any resolution to this, :(

[2018-05-31 14:53] unr commented on #24
Nevermind, actually found the answer to this looking at #25.

https://github.com/nuxt-community/nuxt-i18n/pull/25/files#diff-6aeb88ffa6a6d00ecc6e8f0487e8d069R66

You can access localePath via `app.localePath`, not `app.i18n.localePath`, like we're all expecting.

[2018-05-31 17:53] darcoder opened #94 "Problem"
[code]
<i18n>
Converts  only to i18n.messages and does not use the basic configuration in nuxt.config.js
</i18n>
Can be changed i18n: to nuxt18n:

[2018-05-31 17:53] #94 closed

[2018-06-03 11:07] Diferno commented on #82
Hi friends, any status on this fix? (don't mean to put pressure or anything ;)  )

[2018-06-06 14:07] achretien commented on #82
@Diferno @SnirShechter can you test my branch on your website to check if it generate everything for you?

[2018-06-06 22:19] kamarkiewicz commented on #42
I've just implemented this kind of feature in my project, in a way described by @matsrietdijk
Now one can have some reference [here](https://github.com/kamarkiewicz/Strona_KSI/commit/e7963f70e629371926dc39144135af28c8bdc52a) and [example of how to connect that with dynamic routes](https://github.com/kamarkiewicz/Strona_KSI/commit/dbdcb6edeaa7ec8501b73349a220c73e103f9d58).

[2018-06-07 06:31] toadkicker commented on #54
I had a similar problem and thought I would share my gist: https://gist.github.com/toadkicker/99551a94d0922e43a18aea7c6169a62e

Needed to read in YAML files from the Rails backend, and then make them available to the Nuxt application..

[2018-06-07 13:30] paulgv commented on #94
Hey @darcoder
Yeah it was a mistake to use i18n as the key here, I changed it to nuxtI18n and released it as a breaking change in v4.0.0

[2018-06-11 22:38] renoirb opened #97 "Which locale to use without using route and Use-Cases for non content-centric Web Applications"
In the context of a Web Application that doesn't need URL based content localization.

Assuming there is a lot ofstrings to provide translation for, and we do not want to rebuild and create a release when changes has been made in translation or when a new language is available to be deployed.

### What problem does this feature solve?

This module is great, but maybe the following haven't been wor

[2018-06-12 19:33] htchtc052 opened #98 "Nested routes with enabled parsePages having vue-router warning"
### Version

[v4.0.0](https://github.com/nuxt-i18n/releases/tag/v4.0.0)

### Reproduction link

[https://github.com/htchtc052/nuxt_nested_routes](https://github.com/htchtc052/nuxt_nested_routes)

### Steps to reproduce

Create empty nuxt project with nuxt-i18n module. Inside this create  page component with child component in related folder.

![package.json - (Рабочая область) без названия - Visua

[2018-06-12 20:59] shrpne commented on #80
@paulgv
I have the same issue, but only on 404 page,
Nuxt-i18n version is 4.0.0, my config:
[code]

[2018-06-14 21:56] renoirb commented on #97
After further investigation and experimentation, the use-case I outlined in comment above has been achieved without using nuxt-i18n module, but had been inspired by it.

Maybe some of the findings made in [experiments-nuxt-i18n-remote-201806](https://github.com/renoirb/experiments-nuxt-i18n-remote-201806) could be imported here.

[2018-06-15 06:35] nghiepit commented on #36
using [lazy-load-translations](https://nuxt-community.github.io/nuxt-i18n/lazy-load-translations.html) to reload the translations.

[code]

[code]

[2018-06-15 15:04] lucassith opened #100 "Breaks styles when using with vuetify (including <head> tag) ."
### Version

[v4.0.0](https://github.com/nuxt-i18n/releases/tag/v4.0.0)

### Reproduction link

[https://github.com/Lucassith/vuetify-nuxt-i18n-bug](https://github.com/Lucassith/vuetify-nuxt-i18n-bug)

### Steps to reproduce

Clone the repo and run `yarn install && yarn dev`.
Open localhost:3000.
See that the button's color "fades off" with each refresh. Also you can observe that all of the page c

[2018-06-15 20:36] dschreij commented on #78
I get the same error, although with a slightly different stack:

[code]

I don't know where to set ecmaVersion to 9 or 10 in this context. I do not have a components.js file (it is not officially part of nuxt.js, is it?). Can i configure this settings somewhere in `nuxt.config.js` too?

[2018-06-16 16:33] igalil commented on #100
Hello, I have the same problem here.

The content of my `head` get replaced. But then the some tags are missing like:
- `meta` tags,
- `link` tags that contain the material icons and roboto front,
- `style` tag with `id="vuetify-theme-stylesheet"`.

If you slow down the internet speed (via Chrome) to Fast or Slow 3G, you'll see that it works fine. You can see in the Network tab that the `woff2` fo

[2018-06-18 04:14] jean-airoldie commented on #100
Hi, I'm having the same issue.

From my understanding, this is caused by the nuxt-i18n vuex module registration, but only the first time the page is rendered.

For instance, if `vuex: false` is set in the [nuxt-i18n module configuration](https://nuxt-community.github.io/nuxt-i18n/options-reference.html), then the styling loads properly. The same is also true if we remove the `index.js` from the `/

[2018-06-18 10:01] dschreij commented on #82
I am still experiencing this problem with nuxt-i18n v4.0.0
The only routes that are generated for me are for index.html, and some dynamic routes I generate in the `generate: { routes()] }` setting. For the other pages, the routes are not automatically generated.

[2018-06-18 10:11] dschreij commented on #100
Same problem here. Only opening the developer tools somehow solves this already, so I guess it's a race issue somewhere.

[2018-06-18 10:33] Lucassith commented on #100
Opening dev tools throws webpack error which stops script execution.

[2018-06-18 13:03] dschreij commented on #100
Setting `vuex: false` solved the issue, as @jean-airoldie suggested, but I don't know what the effect of this is on the long run. At first sight, it doesn't seem to matter much, and my app keeps working as expected.

[2018-06-18 13:28] Lucassith commented on #100
You can also use non-nuxt module version of i18n, just add
`"vue-i18n": "^7.8.0",` to packages.json then create a plugin like this:

`import Vue from 'vue'
import VueI18n from 'vue-i18n'

Vue.use(VueI18n)

export default ({ app, store }) => {
  // Set i18n instance on app
  // This way we can use it in middleware and pages asyncData/fetch
  app.i18n = new VueI18n({
    locale: 'pl',
    messages:

[2018-06-18 14:08] Zsavajji commented on #100
Experiencing same issue, also downgrading to 3.3.1 does not solve the error.

[2018-06-20 19:57] rhrn commented on #100
It's happen after meta refresh in `vue-meta`
https://github.com/declandewet/vue-meta/blob/798d5a420cd772022cfb540a195e9aeca3b121a1/src/shared/plugin.js#L94

[2018-06-21 06:12] dschreij commented on #78
Right, done that and it worked, but forgot to report that back here. Thanks for the tip anyway!

[2018-06-22 00:11] #98 closed

[2018-06-26 16:08] mapeal2 opened #103 "SPA - default to browser language"
Hi,

Thanks for this awesome module, first of all. I'm developing a pure SPA with nuxt and I'm trying to implement nuxt-i18n for my project. Everything works well except for the fact that, when I enter the root URL for my application, the locale doesn't default to the current browser language. I've read the browser language detection in the doc, but I was wondering if this only applies to universa

[2018-06-26 16:08] #103 closed

[2018-06-27 10:51] martinrisseeuw commented on #52
@paulgv I have updated the library to 4.0.1 because I wanted to have the custom routes functionality within page components. Unfortunately it looks like that this fix is broken? It seems that extendedroutes in my nuxt.config are ignored.  Have you experienced this issue before and have a solution for it? If not I can go back to v2.9.1 and add the routing in the module settings.

[2018-06-27 12:05] gahabeen commented on #100
@rhrn is on to something, it does fix the issue in my app too when settin `seo: false`.

[2018-06-27 19:17] paulgv commented on #103
Hi @mapeal2 !
Browser language detection should now work in v4.2.0 :)

[2018-06-27 19:36] mapeal2 commented on #103
Hi @paulgv ,

That was my understanding, but couldn't make it work. I console logged "req" parameter in middleware.js and it's always undefined, and that's why the logic doesn't go into the browser detection block. Is there any circumstance that could make req be undefined?

Thanks in advance.

[2018-06-27 20:21] paulgv commented on #103
@mapeal2 sorry, I meant that I just implemented the change in the module, it did not work before but it should work if you upgrade to v4.1.0 :)

[2018-06-27 21:42] mapeal2 commented on #103
Hi @paulgv ,

My fault, I had v4.0.2 and didn't realize that this functionality was available in v4.1.0.

I've tested this now and I've detected what I think could be an issue, from my humble point of view. Given 2 locales ('en', 'fr'), default locale is 'en' and the preferred browser language is 'fr', with the 'prefix_except_default' option, the steps to reproduce it would be:

1. Visit home page

[2018-06-27 22:15] mapeal2 commented on #103
Hi @paulgv ,

Just to clarify what I'm looking for, I created a plugin to implement my expected behaviour. First, I set detectBrowserLanguage: false not to interfere with the new logic, and rather perform the actions in the mounted hook instead of doing it in the middleware, which could be less efficient (correct me if I'm wrong). Then I implemented this logic in the new plugin:

import extend fro

[2018-06-27 22:47] mapeal2 commented on #100
Experiencing the same issue here, with the same fixes.

[2018-06-29 11:41] alanaasmaa commented on #100
Same problem. Here and same fix `seo: false` fixes it.

I noticed the problem when my title tags were dissapearing.

[2018-06-29 20:28] mapeal2 commented on #103
Hi @paulgv ,

Could then this be considered as an issue?

Regards.

[2018-07-02 13:16] mapeal2 commented on #103
Hi,

Could you please take a look at the scenario I pointed out and let me know if this is something that could be incorporated/improved in coming releases?

Thanks in advance.

[2018-07-10 12:38] maximivanov commented on #34
Any update on this? Or before feature is implemented, what's the way to load fallback language every time? (and not load all of language files at the same time)

[2018-07-11 09:09] DreaMinder opened #104 "Headers already sent"
### Version

[v4.1.0](https://github.com/nuxt-i18n/releases/tag/v4.1.0)

### Reproduction link

[https://odesd2.ua/](https://odesd2.ua/)

### Steps to reproduce

1. Open browser in incognito mode
2. Open https://odesd2.ua/ which should run redirect to detected browser language - In server nuxt logs "headers already sent" shows up.
3. Refresh the page with cookie set or enter URL with locale prefix

[2018-07-11 23:15] scippio commented on #34
Any news?

[2018-07-12 18:33] MisterEffix opened #105 "detectBrowserLanguage and cookies"
The common way to handle the redirection from root path to the language path is :

1) check if the user already visits the website and redirect him to his latest used language by using a cookie commonly called "lang".
2) if no "lang" cookie is available, use the browser language.
3) if the browser language is unknown or unavailable, use a default language.

I have updated your "middelware.js" foll

[2018-07-12 18:33] #105 closed

[2018-07-12 18:41] MisterEffix opened #106 "detectBrowserLanguage and cookies"
### What problem does this feature solve?

Root path redirection

### What does the proposed changes look like?

The common way to handle the redirection from root path to the language path is :

1) check if the user already visits the website and redirect him to his latest used language by using a cookie commonly called "lang".
2) if no "lang" cookie is available, use the browser language.
3) if

[2018-07-13 09:23] aideremir opened #107 "Seo plugin doesn't add fully-qualified URL for hreflang"
Google documentation tells that href parameter in hreflang tag needs to be a fully-qualified URL including the transport method (http/https), so:
https://example.com/foo, not //example.com/foo or /foo

https://support.google.com/webmasters/answer/189077?hl=en

But now only relative links are added (e.g. /foo)
May be there are some parameters to change this or any workaround?
Thank you

<div align=

[2018-07-13 09:23] #107 closed, assigned to nobody

[2018-07-14 06:20] dmydry commented on #100
+1 `vuex = false` solved the problem
will try to find out the reason of this effect

[2018-07-16 11:15] AndrewBogdanovTSS commented on #76
I have eccactly same issue. @paulgv could you provide an example (workaround) for TS users inside documentation?

[2018-07-17 08:29] RecuencoJones commented on #34
As a workaround for now we might be using the following:

[code]

[2018-07-18 02:04] liuhuanhui opened #108 "After the browser refreshes the page, all the attributes in the HTML tag are missing, including Lang, data-n-head= "Lang"."
浏览器刷新页面之后，html标签里面的属性全部没有了，包括lang，data-n-head="lang"

After the browser refreshes the page, all the attributes in the HTML tag are missing, including Lang, data-n-head= "Lang".

[2018-07-18 02:04] #108 closed

[2018-07-19 16:10] #48 closed

[2018-07-19 17:08] jefrydco opened #109 "Add Callback or Context to Lazy Load when Exporting Promise"
### What problem does this feature solve?

It takes time to resolve the translation data if it reaches out server, so currently when it used in `$t()` method, it will displayed the path first then when the page changes several times it will display the correct translation.

Or perhaps we can make `$t` method or `v-t` directive reactive.

### What does the proposed changes look like?

[code]

<div

[2018-07-19 18:46] daverdalas commented on #76
@AndrewBogdanovTSS For now you can disable parsing by setting `parsePages` option to `false` (https://nuxt-community.github.io/nuxt-i18n/routing.html#custom-paths)
@paulgv I think it is better in the package to avoid parsing the components because in the future it may cause similar problems. Maybe it is better to add the option of defining a pages in a seperate JS file?

[2018-07-21 10:43] 1hakr commented on #30
How can you use this when you have dynamic routes, i mean how do you pass params to a vue page

[2018-07-22 20:01] AndrewBogdanovTSS commented on #76
How will it affect overall usage of nuxt-i18n? As far as I understand the parsing is needed to properly generate routes? Does it mean that routes should be generated manually in this case?

[2018-07-23 08:01] daverdalas commented on #76
@AndrewBogdanovTSS If you do not use nuxtI18n option in the components then everything should work ok :) I had no problems with generating routes automatically.

[2018-07-24 13:46] ptdev commented on #79
I think this is exactly [what I was asking here](https://cmty.app/nuxt/nuxt-i18n/issues/c97)

Right now, we can place pretty much all other content that's to be translated in some external file or backend. The only missing strings are exactly the urls.

@paulgv If there's any way to have the component's nuxtI18n property have access to data fetched on asyncData before the router generation that wo

[2018-07-25 12:55] metalanti commented on #79
@ptdev we have the same problem, but mine is not urgent. i have still no solution

[2018-07-26 14:55] ptdev commented on #79
Hi @metalanti , my problem is also not really urgent. It's just one of those "would be great to have" features.
Thanks for replying though, cheers!

[2018-07-28 05:37] 1hakr commented on #30
I was able to achieve this with declaring another path in extendRoutes instead of using `alias` by extending router module

[code]

I hope this i will be useful to others.

[2018-07-29 15:42] Jesus82 commented on #73
I have the same issue. It happens when I click a  `nuxt-link`, and in the origin page there is a `transition-group` with a `component` inside. Target page then appears with the `children is undefined` error.

In my case, the `nuxt-link` is outside of the `transition-group`.

[2018-07-30 09:35] klessou commented on #100
Any update on this issue ?

[2018-07-30 13:55] redijedi commented on #52
I can confirm that this is broken on v4.1.0. I receive the error:
[code]

[2018-08-01 07:05] Magnum5234 opened #112 "switchLocalePath does not (always) work with generated static files in conjunction with a url encoded path"
### Version

[v4.1.0](https://github.com/nuxt-i18n/releases/tag/v4.1.0)

### Reproduction link

[https://internal.project.sorry](https://internal.project.sorry)

### Steps to reproduce

Setup required:
* Nginx or Apache web server
* simple project with two pages
    * one page need to have a path that has a character that will be url encoded (like a space or some Cyrillic letter)
* two languages
*

[2018-08-01 17:48] manniL commented on #104
Unfortunately, we can't access the server logs. Could you build up a reproduction repo? :relaxed:

[2018-08-02 00:09] karellm commented on #67
I was wondering if there was any update on this front. I'm trying to use `<i18n>` for locale definitions too.

[2018-08-03 13:25] DreaMinder commented on #104
https://github.com/DreaMinder/nuxt-i18n-repo/
1. clone, install deps
2. npm run build
3. npm start
4. open localhost:3000 in incognito mode
5. watch your terminal for errors

[2018-08-04 01:56] karellm commented on #58
When I add the `vue-i18n-loader` via the `extend()` method in the config, the language switcher breaks. Do any one of you manage to get `nuxt-i18n` to work properly with `vue-i18n-loader`?

[2018-08-08 20:10] #78 closed

[2018-08-08 20:11] #83 closed

[2018-08-08 20:13] #67 closed

[2018-08-09 01:21] northamerican opened #113 "Cannot read property 'pages' of undefined"
When running nuxt build, I get the following error:

[code]

I'm using nuxt-i18n@5.0.0

Seems to work if i replace
`/[nuxt-i18n]/src/module.js:61` with
`pagesDir: this.options.rootDir + '/pages'`

When i console.log(this.options) it appears to not have the dir property in it…

Reverting this line seems to work too:
https://github.com/nuxt-community/nuxt-i18n/commit/b2980cf1de713520b500cc15eb90e3f6

[2018-08-09 01:21] #113 closed, assigned to nobody

[2018-08-09 01:26] northamerican commented on #113
my config:

[code]
[code]

[2018-08-09 12:14] paulgv commented on #52
Hi guys, sorry about that, looks like the original fix was lost at some point. I re-applied it and released it in version `v5.0.1`

[2018-08-09 12:26] paulgv commented on #113
Hi @northamerican
This should be fixed in v5.0.2, can you confirm?

Thanks!

[2018-08-10 04:26] northamerican commented on #113
@paulgv i'm able to build without issues 👍

[2018-08-10 20:25] #104 closed

[2018-08-10 20:28] paulgv commented on #104
Hi @DreaMinder
Thanks for providing a repro! This should be fixed in v5.0.3.

[2018-08-11 22:48] paulgv commented on #103
Hi @mapeal2 sorry for the delay.
The scenario you described does look like something that should be taken into account and fixed in a future release, I'll open a bug report for this.

[2018-08-11 22:52] paulgv opened #114 "Default locale & browser language detection confusion"
### Version

[v5.0.3](https://github.com/nuxt-i18n/releases/tag/v5.0.3)

### Reproduction link

[https://github.com/nuxt-community/nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n)

### Steps to reproduce

Quoting @mapeal2
https://cmty.app/nuxt/nuxt-i18n/issues/c96

[code]

### What is expected ?

[code]

### What is actually happening?

[code]

<div align="right"><sub><em>This bug report is

[2018-08-11 22:59] #36 closed

[2018-08-12 00:31] lrosa007 commented on #56
this might be useful. https://nuxt-community.github.io/nuxt-i18n/routing.html#module-s-configuration-2

<img width="771" alt="screen shot 2018-08-11 at 20 30 44" src="https://user-images.githubusercontent.com/12070598/43997315-807a71ca-9da5-11e8-90b6-a3a0d1e7c149.png">

[2018-08-16 02:04] liuhuanhui opened #115 "element-ui after calling the popup, I found that the attributes of the html tag (such as lang="en-US") were deleted?"
https://github.com/ElemeFE/element/issues/12378#issuecomment-413163214

Element UI version
2.4.6

OS/Browsers version
GOOGLE

Vue version
2.5.17

Reproduction Link
https://github.com/liuhuanhui/bug01/

Steps to reproduce
https://github.com/liuhuanhui/bug01/
F12, run, check the HTML tag, and then click the button on the page.

[2018-08-16 02:04] #115 closed

[2018-08-16 16:01] bartlomieju opened #116 "Do not delete name of route with children"
Hi!

Today I stumbled across a problem that deletes name of routes that have children. I think this is unexpected behaviour, as I tend to have directory structure like this:
<img width="224" alt="zrzut ekranu 2018-08-16 o 18 00 38" src="https://user-images.githubusercontent.com/13602871/44220245-53e0e900-a17e-11e8-942e-a31b18358f14.png">
and do a redirect in `vendors/_slug.vue` file.

The culprit

[2018-08-16 16:01] #116 closed

[2018-08-16 16:55] paulgv commented on #116
Hi @bartlomieju
This change was made to fix a particular issue: https://github.com/nuxt-community/nuxt-i18n/issues/98
I don't remember the details exactly...
Does this prevent you from doing the redirection?

[2018-08-17 08:08] bartlomieju commented on #116
Hi @paulgv sorry for trouble, it looks like my Nuxt route config is improper, I should have added `index.vue` file to `vendors` directory.

[2018-08-17 11:43] paulgv commented on #116
@bartlomieju no worries! I was wondering why you didn't have that `index.vue` actually. All good then!

[2018-08-17 13:54] MomenYasser opened #117 "Non-Latin characters encoding issue"
### Version

[v5.1.1](https://github.com/nuxt-i18n/releases/tag/v5.1.1)

### Reproduction link

[https://github.com/MomenYasser/nuxt-i18n-non-encoding-issue](https://github.com/MomenYasser/nuxt-i18n-non-encoding-issue)

### Steps to reproduce

1- git clone https://github.com/MomenYasser/nuxt-i18n-non-encoding-issue
2- npm install
3- npm run dev
4- go to http://localhost:3000/about
5- Check your te

[2018-08-18 11:51] paulgv commented on #58
Hi @chanlito
I won't be able to fix this until next week, in the meantime, I'd recommend you disable `vueI18nLoader` option in your config.

[2018-08-18 17:52] karellm commented on #58
@paulgv I don't think this issue is fixed. I followed all the steps and the language switcher breaks as soon as I add the `extend()` hook. Have you successfully tested this? If so can you please provide your config? Thanks!

[2018-08-20 12:10] trylovetom commented on #115
Same Problem Here,
I try this setting of nuxt-i18n below, solve the problem
`seo: false`

[2018-08-20 12:12] trylovetom commented on #100
Any update on this issue ?

[2018-08-20 17:29] mcskeeled opened #118 "Accept a promise in the pages option"
### What problem does this feature solve?

In my project I don't have the routes (pages and respective translations) available until I generate/run nuxt since I am getting it from another source (Contentful), and getting them from Contentful is a promise. Shouldn't nuxt-i18n accept a promise in this option or is there a better way to do this?

<div align="right"><sub><em>This feature request is av

[2018-08-21 12:46] paulgv commented on #115
Hi all, there seem to be an issue with the [mixin](https://github.com/nuxt-community/nuxt-i18n/blob/master/src/plugins/seo.js#L13) that handles SEO in nuxt-i18n, it causes some issues with meta tags and other things in the `<head>`, I'm not sure what's the best way to fix this yet, I'll work on it asap. All suggestions/PR are very welcome!

[2018-08-21 13:13] liuhuanhui commented on #115
Thank you, I will also see how to solve this problem.
@paulgv

[2018-08-22 10:59] Guito commented on #53
Hi @paulgv
This is also happening using different domains. I would like to help to integrate it, do you have any idea where and how I should start?

[code]

[2018-08-23 17:56] paulgv commented on #53
Hi @Guito !
This must come from [here](https://github.com/nuxt-community/nuxt-i18n/blob/master/src/helpers/utils.js#L104)
Maybe we should add some checks on the `req` object but I wonder why it's undefined server-side in your case, what backend are you using?

[2018-08-24 07:47] Guito commented on #53
It's when using nuxt generate. In nuxt generate there is no request as stated in the api: https://nuxtjs.org/api/context.

Yesterday I spent some time trying to fix it but it seems quite hard to achieve what I want. If you remember me, I was doing a multi-domain project, so everything is working correctly with nuxt build, nuxt start. Now, I was trying to use nuxt generate to improve the speed.

Wh

[2018-08-24 13:42] paulgv commented on #53
Hey @Guito
If you're generating a static version of your app, I feel like nuxt-i18n should not be responsible for the domain names, that should be handled at the domain level where you would make each domain point directly to the correct folder (/en, /es, /fr) on the server. What do you think?

[2018-08-24 14:19] Guito commented on #53
I agree, I wanted to do it with nginx, however, in the hrefs it says /en/path. I am not sure, but if I use generate, when using nuxt-links it should be the same as ssr, isn't it?

[2018-08-26 15:06] paulgv commented on #15
Closing this as paths customization has changed a bit since this issue was open.
https://nuxt-community.github.io/nuxt-i18n/routing.html#custom-paths

[2018-08-26 15:06] #15 closed

[2018-08-26 15:10] paulgv commented on #62
Paths translation exclusion has changed a bit over the last versions, I'll assume this is working as expected now, feel free to open another issue if it doesn't!
https://nuxt-community.github.io/nuxt-i18n/routing.html#ignore-routes

[2018-08-26 15:10] #62 closed

[2018-08-26 15:11] paulgv commented on #60
Closed by #91

[2018-08-26 15:11] #60 closed

[2018-08-26 15:12] #57 closed

[2018-08-26 15:12] #77 closed

[2018-08-27 03:27] karellm commented on #58
@paulgv can you confirm that the language switcher still works for you with `vueI18nLoader: true` ?

[2018-08-27 12:13] paulgv commented on #53
Oh I see... So maybe there should be a way to customize `localePath()` and `switchLocalePath()` in your case?

[2018-08-27 12:16] paulgv commented on #58
@karellm I haven't used vue-i18n-loader recently and don't think I've ever tried with a lang switcher actually, the few times I used it was to make some quick prototyping before moving all translations to  another file. But there are some issues with this option for sure, I still need to investigate but am lacking time lately...

[2018-08-31 14:08] Ingramz opened #123 "Server side rendered locale switching links will always start with http"
### Version

[v5.2.1](https://github.com/nuxt-i18n/releases/tag/v5.2.1)

### Reproduction link

[-](-)

### Steps to reproduce

-

### What is expected ?

-

### What is actually happening?

-

### Additional comments?

In https://github.com/nuxt-community/nuxt-i18n/blob/e2aa687083873b6cb20b29beb044db8572e223cf/src/plugins/routing.js#L56 `req.secure` is used, which is only defined in Express, but

[2018-09-02 14:54] oanstein opened #124 "nuxt-i18n breaks colors of vuetify 1.2.1"
### Version

[v5.2.1](https://github.com/nuxt-i18n/releases/tag/v5.2.1)

### Reproduction link

[https://preview.c9users.io/lowryder/nuxt-vuetify](https://preview.c9users.io/lowryder/nuxt-vuetify)

### Steps to reproduce

files: https://preview.c9users.io/lowryder/nuxt-vuetify
code at c9.io: https://ide.c9.io/lowryder/nuxt-vuetify
result: https://preview.c9users.io/lowryder/nuxt-vuetify

1) Instal

[2018-09-03 15:34] adi-zz commented on #124
@oanstein, could this be the same problem as [issue 100](https://github.com/nuxt-community/nuxt-i18n/issues/100)? If you use the same [workaround](https://github.com/nuxt-community/nuxt-i18n/issues/100#issuecomment-398876743) (`seo: false`), does it fix your issue?

[2018-09-03 16:09] oanstein commented on #124
@adi-zz the workaround (seo: false), does indeed "fix" this issue

[2018-09-04 03:10] liuhuanhui commented on #115
@trylovetom https://github.com/liuhuanhui/nuxt-i18n/commit/8cb7764d60b7ff192904f43b5db2ebc2c4cb9ade

I used a very good way of repair.

[2018-09-07 11:50] amrshakya commented on #37
detectBrowserLanguage: {
    useCookie: true,
    cookieKey: 'i18n_lang_cookie'
  },

i did set detectBrowserLanguage but it didn't work as it should.
like if i select german language i would expect site to be loaded in german language but, it still loads in english.

[2018-09-11 13:13] georgefeast opened #126 "Add dateTimeFormats option to config like in Vue i18n"
I tried submitting through CMTY but it errored and wouldn't submit

Adding the dateTimeFormats option to the config would allow for auto formatting of localized dates through $d

[2018-09-11 13:13] #126 closed

[2018-09-12 14:26] trylovetom commented on #57
this.$router.push(this.localPath('/path'))
doesn't work.

I get the same wronging again.

[2018-09-22 16:42] tillkruss commented on #58
I'm seeing the same error:

[code]

[code]

The output of `vue-loader` is:

[code]

[2018-09-23 18:36] manniL commented on #58
Solution for nuxt 2:

[code]

[2018-09-25 03:31] blooddrunk commented on #58
Set `vueI18nLoader` to false and explicitly apply loader config suggested by https://github.com/kazupon/vue-i18n-loader/issues/16#issuecomment-384956906 works.

[2018-09-25 14:50] manniL opened #127 "Seo meta data broken"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/nuxt/nuxt.js/issues/3957#issuecomment-424345190](https://github.com/nuxt/nuxt.js/issues/3957#issuecomment-424345190)

### Steps to reproduce

See [this issue](https://github.com/nuxt/nuxt.js/issues/3957#issuecomment-424345190).

### What is expected ?

No errors

### What is actually

[2018-09-27 12:34] manniL commented on #127
This is not a bug with `nuxt-i18n` but with `vue-meta`. I'll let this open for visibiliy

[2018-09-27 12:51] billyshena commented on #127
It seems that downgrading to vue-meta 1.5.3 fixes it for the moment

[2018-09-27 13:11] melrefaie commented on #127
After downgrading to vue-meta 1.5.3  i got this error with nuxt 2

✖ error TypeError: Cannot read property 'text' of undefined
  at Renderer.renderRoute (/myporject/node_modules/nuxt/dist/nuxt.js:2006:15)

[2018-09-27 23:03] kevinmarrec opened #128 "Can't load the nuxt-i18n module : SyntaxError: Unexpected character '@'"
I'm not being able to make Nuxt-i18n working with a fresh Nuxt 2.0 project. I got this error :
![screenshot_2](https://user-images.githubusercontent.com/25272043/46179099-034ec680-c2ba-11e8-8d39-711bf3dee02c.png)

My `nuxt.config.js`
[code]

Did something break since Nuxt 2.0 ?

[2018-09-27 23:04] #128 closed

[2018-09-28 11:30] georgefeast commented on #57
@paulgv I'm still experiencing this issue with the '[vue-router] Route with name x does not exist' whenever I manually set enabled locales in the component. It seems the error is generated in every case where localePath is used: the only way to get rid of the warnings altogether is if I set SEO: false, remove all links with localePath and remove the language switcher so it seems like a warning is

[2018-09-29 19:32] manniL commented on #127
Resolved with `vue-meta@1.5.5`

[2018-09-29 19:32] #127 closed

[2018-10-02 10:07] Timkor opened #130 "Breaks with differentDomains + multiple domains with same language"
[code]

The SEO hreflang attributes will not be correctly.
Also Vue Router complains about a lot of duplicate named routes, e.g.:
[code]

[2018-10-02 10:07] #130 closed

[2018-10-03 06:59] begueradj commented on #80
I am facing the same issue with the current Nuxt version (2.1.0)

[2018-10-04 08:30] Livog opened #131 "Cannot read property 'iso' of undefined"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/Livog/nuxt-i18n-bug](https://github.com/Livog/nuxt-i18n-bug)

### Steps to reproduce

Node Version: 9.7.1
NPM Version: 6.4.1
Nuxt Version: 2.1.0
Nuxt i18n Version: 5.3.0

I m getting this error whenever I install the repo that I linked.
TypeError: Cannot read property 'iso' of undefi

[2018-10-05 12:12] kevinmarrec opened #132 "Provide TypeScript TypeDefs for localePath/switchLocalePath/getRouteBaseName functions"
### What problem does this feature solve?

This feature allows to use Nuxt-i18n without TypeScript errors and enable Autocompletion inside TypeScript Vue Class Decorators

![Screenshot_9.png](https://cmty.s3.eu-west-1.amazonaws.com/110467581/b1ac0de0-c897-11e8-aa8f-47225b330f76.png)

### What does the proposed changes look like?

![Screenshot_10.png](https://cmty.s3.eu-west-1.amazonaws.com/1104675

[2018-10-05 17:35] kevinmarrec commented on #100
Any update ?

Cause currently it doesn't seem to have a solution with Nuxt I18n SEO + Vuetify both working fine.

[2018-10-06 11:34] #132 closed

[2018-10-08 15:11] webmint opened #134 "I18n breaks possibility to load async components inside pages"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/webmint/nuxt-i18n-bug](https://github.com/webmint/nuxt-i18n-bug)

### Steps to reproduce

1) Install nuxt install i18n.
2) in for example pages/index try to import components like this Logo: () => import('~/components/Logo'),
3) on build u will receive error. This error dissapear whe

[2018-10-09 07:55] michaelwills commented on #128
I just ran into this as well @kevinmarrec. Looks like it's because I have been using Typescript with the `@Component` decorator.

[2018-10-09 07:58] michaelwills commented on #128
https://github.com/nuxt-community/nuxt-i18n/issues/76

[2018-10-09 08:00] michaelwills commented on #128
So `parsePages: false` in `nuxt.config.js` allows it to _not_ parse the typescript pages. I'll have to test to see how that impacts the build though..

[2018-10-09 09:03] kevinmarrec commented on #128
@michaelwills Yes I'm using `@Component` decorators. Indeed, I went with `parsePages: false` to make it working. But yeah I don't know either if it impacts something.

I had the solution few days ago but as the Bot automatically closed my issue, I forgot to give me feedback, sorry 😄.

Maybe "Known issues" in the NuxtI18n documentation should be great, to directly refer this kind of problem (which

[2018-10-09 09:32] michaelwills commented on #128
That gets it building but accessing data seems to be different now…

[2018-10-11 07:38] michaelwills commented on #128
Still dealing with `Property "$i18n" does not exist on type "Component name"`.

[2018-10-11 09:49] michaelwills commented on #128
@kevinmarrec I replaced my custom `modules/typescript.ts` with the `nuxt-ts` package. A couple of other changes are

* change `langFile` to `file` otherwise it wouldn't find the lang file
* change `loadLanguagesAsync` to `lazy`

[2018-10-11 09:56] kevinmarrec commented on #128
I never had this `Property "$i18n" does not exist on type "Component name"` error, and I already have `file` and `lazy` options. I don't know if the properties you are talking about were existing before but if it's the case I think you had some old Nuxt I18n version, your last message looks like migration guidelines.

[2018-10-11 14:39] begueradj opened #136 "lazy loading with nested roots not working"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/begueradj/nuxti18n-with-nested-routes](https://github.com/begueradj/nuxti18n-with-nested-routes)

### Steps to reproduce

Clone my repo and follow the simple steps in the README file

### What is expected ?

I want to launch the server ẁith yarn run dev, I type on the browser: http:/

[2018-10-12 06:45] begueradj opened #137 "Can not use nuxt-i18n at all"
### Version

[v5.4.2](https://github.com/nuxt-i18n/releases/tag/v5.4.2)

### Reproduction link

[https://github.com/begueradj/nuxti18nerror](https://github.com/begueradj/nuxti18nerror)

### Steps to reproduce

1. Either clone my project and follow the README file instructions
2. Or create the a Nuxt.js project: `yarn create nuxt-app my-project`, then install the plugin: `yarn add nuxt-i18n` , then

[2018-10-12 08:13] blooddrunk commented on #137
Also got the exception after upgrading from 5.3.0 to 5.4.2

[2018-10-12 08:19] AndrewBogdanovTSS commented on #137
I guess this issue appeared just recently. I started getting it after I've upgraded from 5.4.0 to 5.4.2

[2018-10-12 08:38] begueradj commented on #137
For anyone facing this issue, my boss solved it by adding that package: `yarn add acorn-walk`

[2018-10-12 09:04] lucpotage commented on #137
This issue was introduced in the latest update.
https://github.com/nuxt-community/nuxt-i18n/compare/v5.4.1...v5.4.2#diff-f23f084807cac163631b6c5e9bf66ee2

Another module is used but is not included in the package.json, thus this error messsage. Thanks @begueradj  for the workaround.

[2018-10-12 09:16] lucpotage commented on #137
Just added a pull request: https://github.com/nuxt-community/nuxt-i18n/pull/138

[2018-10-12 10:07] begueradj commented on #137
@lucpotage I just noticed when I run `yarn add acorn-walk` to fix the issue described above,  and I launch the server, I land always  on a 404 HTTP error even if I have */pages/index.vue* file. Any hints?

[2018-10-12 11:24] begueradj opened #139 "Getting 404 HTTP error code whenever nuxt-i18n is used"
### Version

v5.4.3

### Reproduction link

[https://github.com/begueradj/nuxti18n-404](https://github.com/begueradj/nuxti18n-404)

### Steps to reproduce

Clone my repo and follow the steps described in README file.

### What is expected ?

I expect to launch the server and not get a 404 error page

### What is actually happening?

The server launches but I am landing all the time on a 404 error

[2018-10-12 11:58] #137 closed

[2018-10-12 12:00] paulgv commented on #137
Sorry about that! Fix is released under v5.4.3, thanks for the PR @lucpotage

[2018-10-12 12:02] paulgv commented on #139
Hi @begueradj
Does the latest release solve the issue for you?

[2018-10-12 12:32] begueradj commented on #139
@paulgv The new release fixed the bug I linked to (#137 ), so congratulations for the good job ! However, I am still getting a 404 error page whenever I declare  nuxt-i18n plugin in **nuxt.config.js** as the official documentation suggests.

[2018-10-12 15:11] paulgv commented on #139
Hi @begueradj
THe problem is you're using nuxt-i18n without any locale, you should configure at least one locale for it to work.

[code]

[2018-10-12 15:47] begueradj commented on #139
@paulgv Yes, I know, actually I did 2 projects using this plugin during the last weeks (sorry for not including that in my present settings), however I keep having the same issue after I did what suggested (anyway my 2 previous projects did not work with this version ... and strangely even when I downgrade to 5.3.0 version)

[2018-10-12 16:15] paulgv commented on #139
@begueradj when running your updated setup, the app behaves as expected on my end: a `/en` route is created and accessible at [http://localhost:3000/en](http://localhost:3000/en).
Maybe the confusion here comes from the fact that you don't have a default locale set? If you'd like the EN language to be accessible at [http://localhost:3000/](http://localhost:3000/), you'd have to set `defaultLocale`

[2018-10-12 16:19] begueradj commented on #139
Oh ... I think I am drunk ... I totally forget about the `strategy` option !!! I am VERY sorry to disturb you with this .... it should not be a bug in this case, I guess ... Thank you so much for your patience and help, have a nice weekend and thank you for this great tool

[2018-10-12 17:09] #139 closed

[2018-10-12 17:09] paulgv commented on #139
No worries @begueradj !

[2018-10-13 09:37] zlzdp commented on #131
https://nuxt-community.github.io/nuxt-i18n/options-reference.html
read the doc,

you can try this config:
 locales: [
  { code: 'en', iso: 'en-US' }
],

[2018-10-15 08:19] JkmAS commented on #34
@RecuencoJones how does the `loadTranslation` function look like? Are you using axios or nuxt-axios in `loadTranslation`? Thx.

[2018-10-16 23:51] junkboy0315 commented on #73
same issue.

component (not normal element) inside `transition-group` occurs following errors related to `transition-group`.
This error doesn't happen without nuxt-i18n.

<img width="707" alt="default" src="https://user-images.githubusercontent.com/10986861/47053642-f4886f00-d1e8-11e8-8a06-bd400a9fa2e8.PNG">

[2018-10-17 14:06] rchl opened #140 "Duplicate route names with prefix_and_default strategy"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://codesandbox.io/s/ql7wx2mvk6](https://codesandbox.io/s/ql7wx2mvk6)

### Steps to reproduce

1. Configure nuxt-i18n module with these settings:
[code]

2. Load the root path.
3. Look at the console (the server one, at the bottom of the codesandbox UI)

### What is expected ?

No warnings about du

[2018-10-17 15:33] Magnum5234 opened #141 "nuxt-i18n <-> vuelidate dynamic validation issue"
### Version

[5.4.3](https://github.com/nuxt-i18n/releases/tag/5.4.3)

### Reproduction link

[https://codesandbox.io/s/vy54y194yy](https://codesandbox.io/s/vy54y194yy)

### Steps to reproduce

Apparently there seems to be an issue that the dynamic validations are no longer triggered, when "nuxt-i18n" is used.

I reproduced the issue here:
[broken]
https://codesandbox.io/s/vy54y194yy

[working]
ht

[2018-10-17 15:33] Magnum5234 opened #142 "nuxt-i18n <-> vuelidate dynamic validation issue"
### Version

[5.4.3](https://github.com/nuxt-i18n/releases/tag/5.4.3)

### Reproduction link

[https://codesandbox.io/s/vy54y194yy](https://codesandbox.io/s/vy54y194yy)

### Steps to reproduce

Apparently there seems to be an issue that the dynamic validations are no longer triggered, when "nuxt-i18n" is used.

I reproduced the issue here:
[broken]
https://codesandbox.io/s/vy54y194yy

[working]
ht

[2018-10-17 15:34] #141 closed

[2018-10-17 15:36] Magnum5234 commented on #141
please close, duplicate :)

[2018-10-17 15:36] Magnum5234 commented on #142
Reference: https://github.com/monterail/vuelidate/issues/380

[2018-10-18 13:02] Magnum5234 commented on #142
There seems to be another compatibility issue. Please see https://github.com/monterail/vuelidate/issues/382 for reference

[2018-10-20 15:02] adrienbaron opened #144 "Nuxt i18n triggers vue-meta getMetaInfo for every component created/destroyed"
### Version

[v5.4.3](https://github.com/nuxt-i18n/releases/tag/v5.4.3)

### Reproduction link

[https://codesandbox.io/s/github/adrienbaron/nuxt-i18n-performance-issue](https://codesandbox.io/s/github/adrienbaron/nuxt-i18n-performance-issue)

### Steps to reproduce

- Open Chrome dev tools
- Go to the performance tab.
- Click on record in the performance tab
- Toggle the list to create items
- St

[2018-10-20 17:52] adrienbaron commented on #144
Ok here is what I've looked into so far:
- Registering the mixin on every page component would be ideal, sadly Nuxt doesn't seem to have a wrapper component for pages. It only points the router to the component written by the user, so this would require the user to register the mixin on each page, seems quite heavy.
- Another way I'm looking into is registering only the head hook for the root comp

[2018-10-21 19:35] mikehoh commented on #7
The problem with non-latin characters still exists. Did anyone find the way how to use different languages in urls? As I've tested a lot of languages - German, French, Russian, Czech, etc.
It tries to render a page with encoded url. Then it can't to find such url in pages and we have an error.
So, nuxt-i18n has to support all languages by decoding urls before.

[2018-10-21 19:52] mikehoh commented on #7
In addition, want to share how to fix this on a project side, but this solution looks wired.
Keep your translated urls already encoded.
Fix inside the plugin would be more nice.

[code]

[2018-10-22 20:02] BroTrue opened #146 "redirectCookieKey"
**1)  nuxt-i18n version: 5.4.3**
2) nuxt.config
[code]

Problem:
 `useRedirectCookie: true` - is not working , also tried with `redirectCookieKey: 'i18n_redirected'` and `redirectCookieKey: 'redirected',`

When I switch lang by calling function for example `switchLocalePath('en')` it doesnt save It to cookies and doesn't use when I enter site next time, (but switching to default). Also strange beh

[2018-10-22 21:02] #146 closed

[2018-10-23 00:03] #7 closed

[2018-10-23 04:18] Harry7Lee commented on #73
I have the same problem too.
If put any `<nuxt-link :to='localePath()'></nuxt-link>` inside the <transition-group>, it will return error.
nuxt-link with localePath() is fine.

[2018-10-25 18:41] awakash commented on #36
Hi @nghiepit Could you share what your en.json looks like?
Thanks

[2018-10-25 19:29] awakash commented on #36
Nevermind, en.json can look like
`
{
    "breaking": "BREAKING",
    "stop": "stop this from happening."
}
`

[2018-10-27 23:52] therddlr opened #149 "Provide an example of using"
Where I can see a working example?

[2018-10-27 23:52] #149 closed

[2018-10-28 07:52] pkorzh commented on #57
i have the same problem, usually happens after rebuild.

![](https://s3-eu-central-1.amazonaws.com/japanesevedro/monosnap/router.js__kaban_2018-10-28_09-12-49.png)

i was able to narrow down the problem to this code:

[code]

when rebuild starts `routes` already contains localized routes.

[2018-10-28 08:04] cyxapb1280 commented on #57
The same for me, as @pkorzh has, started after I’ve updated nuxt to v2.*

[2018-10-28 17:08] thariddler opened #150 "Page transition broken with nuxt-i18n"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com](https://github.com)

### Steps to reproduce

I have simple fade page transition

[code]

The problem is, when I change locale, text content changes **instantly** while page transition is not complete.
In result I have a blink of content.

Is there'a a way to solve this?

### What is

[2018-11-01 22:29] thariddler opened #151 "The title in head is blink when change locale"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com](https://github.com)

### Steps to reproduce

I set my `head()` in `index.vue`. The problem is when I change locale or navigate to another route I see `title` blink.

If I remove `nuxt-i18n` or set `seo: false` everything ok.

[code]

![output.gif](https://cmty.s3.eu-west-1.amazonaws

[2018-11-01 22:48] thariddler commented on #151
Looks like this is Nuxt page transition issue somewhere

[2018-11-01 23:02] thariddler commented on #151
Just double checked from scratch on blank Nuxt app. This is `nuxt-i18n` issue.

[2018-11-01 23:06] thariddler commented on #151
If I set `seo: false` then there's no issue. But what if I need SEO?

[2018-11-01 23:50] adi-zz commented on #151
@thariddler, is it possible that this issue is in fact caused by https://github.com/kazupon/vue-i18n/issues/408?

[2018-11-02 09:50] thariddler commented on #151
Forgot to mention, to reproduce this issue you need long page transitions

[code]

If you have no transition then it's happening instantly and you will not notice the issue.

@adi-zz not sure! It could be because `head()` manipulation is triggered in wrong time n=by this module and it's conflicting with custom `head()` in pages.

[2018-11-03 08:41] matthieubellon commented on #57
Same here but only with hash key as @pkorzh  and @cyxapb1280

`:to="localePath({name:'index'},$i18n.locale)"` > no warnings
`:to="localePath({name:'index', hash:"#section-prices"},$i18n.locale)"` > warnings crazy

[2018-11-05 14:42] rchl opened #152 "Dynamic routes can hijack more specific routes"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://codesandbox.io/s/ly9pnqvp79](https://codesandbox.io/s/ly9pnqvp79)

### Steps to reproduce

1. Open codesandbox testcase
2. Add `/us` to the URL

### What is expected ?

Page shows 'US' in big letters

### What is actually happening?

Page shows 'FR'

### Additional comments?

This error happens

[2018-11-06 12:30] rchl commented on #34
Would it be possible to prioritize it? I think it's a major missing feature.

[2018-11-06 13:17] rchl commented on #34
Possibly simpler workaround:

In nuxt_config.js, using `require` or `import`, load default locale manually and pass to `vue-i18n` configuration:

[code]

[2018-11-07 09:04] JulienAramino commented on #53
Hello,
I have the quite the same need:
I would like the pages being generated in different folders using the locales code and using url rewriting on server side.

This is to keep the nuxt-links localePath local and having the switchLocalePath global
ex:
on english website home page
href="http://fr.localhost:3333/accueil" --> switch language to fr
href="/about" --> link to about page

Will it be po

[2018-11-07 10:09] Guito commented on #53
I made it work, however, I had to customize the plugin. In the method
getLocaleBaseUrlFactory I added a new
[code]

And in main.js
[code]

Then, I had to do a lot of work using a custom-generate file, and everytime I want to do a release I have to generate for every locale. I don't know if this would be easier with the new nuxt version (I am in 1.4.2 yet)

[2018-11-07 10:53] JulienAramino commented on #53
Hello,

Thanks for your help,
When generated, I would prefer to have some option to customise the switchLocalePath to use full URL (with domain), and at the same time using URL rewriting to redirect request to the right folder.
We only need full URL for switching domain.

[2018-11-09 19:55] manAbl commented on #54
I need to use nuxt and i18n to add different language support to my app, the problem is that I can have the  json files with the lang locally, I need to do an api call to the back end and retrieve the json file, set it to the localStorage and them consume the lang from there. I have been struggling with this the whole day. And this keep throwing an error when trying to change the route to a differ

[2018-11-11 19:53] Aperrix commented on #114
Same bug with v5.4.4 of nuxt-i18n (using the [nuxt-i18n rxample](https://github.com/paulgv/nuxt-i18n-example) by @paulgv

[code]
![image](https://user-images.githubusercontent.com/26674548/48317506-a56d0880-e5f3-11e8-873b-6ae896dd882f.png)

[2018-11-13 13:40] luke-hawk commented on #142
+1

[2018-11-15 09:56] kevinpiac commented on #34
@rchl you solution works well and seems to be the simplest one.

However, this missing feature is really important and should be prioritized!

[2018-11-15 10:15] rchl commented on #73
I've reported this as https://github.com/nuxt/nuxt.js/issues/4319 in nuxt.js before finding this bug. It has link to reproducible testcase.

[2018-11-15 11:35] #144 closed

[2018-11-15 17:05] timAtStrathcom commented on #140
Just ran into this as well and it's super annoying because it generates this console message for _every single route_ in the app on every single page hit. With lots of routes this is huge amount of log spam.

[2018-11-20 06:55] dinaabramova commented on #142
+1

[2018-11-20 14:34] manniL commented on #115
@liuhuanhui probably solved with #154

[2018-11-23 23:56] priezz commented on #131
I have the same issue, when `vueI18nLoader` is set to `true`, same as in your example repo.  Looks like this loader breaks the `$i18n` contents.

[2018-11-25 21:05] Seranth commented on #140
For those that encounter this problem, you can fork the project as per the instructions in the README.md file for the project, then change line 94 in `src/helpers/routes.js` from `routes.push({ ...localizedRoute, path })` to `localizedRoute.alias = path` in order to change the behavior from adding a duplicate route to simply creating an alias to the route.

Just be aware of that this will also mak

[2018-11-25 21:48] Seranth commented on #140
Another alternative to the above solution is to use `routes.push({ ...route, path })` instead of `routes.push({ ...localizedRoute, path })`. This will still create a new route for the default route (which you might want for e.g. SEO purposes) but its name will be set to the base name of the route. For example, a `contact` route is currently generated into e.g. `contact___en`, but with this change

[2018-11-27 21:53] haexhub commented on #100
why is this issue closed? I still have this problem! seo:false solved it for the moment.

[2018-11-28 09:29] Zsavajji opened #160 "Warning loop since router update in nuxt 2.3.4/1.4.5"
### Version

[v5.4.4](https://github.com/nuxt-i18n/releases/tag/v5.4.4)

### Reproduction link

[https://codesandbox.io/s/y7pqv48y19](https://codesandbox.io/s/y7pqv48y19)

### Steps to reproduce

Navigate to the dynamic route, console is spammed with loop of "[vue-router] missing param for named route "test-all___en": Expected "0" to be defined", in client when navigating, or in server when going

[2018-11-28 19:25] manniL opened #161 "docs: don't suggest to provide a function for lazy loading"
### What problem does this feature solve?

related: https://github.com/nuxt/nuxt.js/issues/4424
https://nuxt-community.github.io/nuxt-i18n/lazy-load-translations.html

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt-i18n/issues/c172">#c172</a>)</em></sub></div>

[2018-12-02 11:09] farhadniaz opened #162 "nuxti18n and vuelidate just can't work together"
i use nuxtjs and nuxti18n and vulidate to create a project , but when using  nuxti18n and vuelidate in a page, it cause bug

the bug:
it don't let thew view to be render in correct way , i have to use this.$forecUpdate

[2018-12-02 11:09] #162 closed

[2018-12-02 11:13] farhadniaz commented on #142
I have same issue.
Is there any solution?

[2018-12-02 13:33] odanado commented on #140
Sorry, I added a strategy of `prefix_and_default` . (#111)
I think how to solve this problem.

[2018-12-05 15:58] rchl commented on #160
It's this bug: https://github.com/vuejs/vue-router/issues/2505

[2018-12-06 12:05] felixdenoix commented on #161
In my case an external API is providing me all of the website texts and placeholders and thus, I found that fetching this data asynchronously can be useful.
The issue I'm facing right now is that I cannot use the installed nuxt-Axios module to fetch these datas and that I had to install the basic Axios module to be able to fetch these.

[2018-12-06 15:31] manniL commented on #160
Duplicate

[2018-12-06 15:31] #160 closed

[2018-12-09 17:55] HapLifeMan opened #166 "Can't read property 'locale' of undefined"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/HapLifeMan/nuxt-i18n-issue](https://github.com/HapLifeMan/nuxt-i18n-issue)

### Steps to reproduce

1) Clone git repository
2) Generate files with `npm run generate`
3) Open local server on `dist/` folder
4) Try to access `/`, see error

### What is expected ?

As the route generatio

[2018-12-10 18:22] igalil commented on #100
Hello All,

`seo: false` is defenitely not a "fix" but a temporary workaround, as it disable the SEO function of nuxt-i18n.
Is there any new on this issue, anything... ?

Thanks a lot :)

[2018-12-19 16:14] milescui commented on #37
Meet the same error like @amrshakya

[2018-12-19 20:58] manniL commented on #37
Create a new issue then.

[2018-12-21 13:14] CKGrafico opened #170 "Typings are wrong for localePath"
### Version

[v2.3.4](https://github.com/nuxt-i18n/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/nuxt-community/nuxt-i18n/blob/master/types/vue.d.ts](https://github.com/nuxt-community/nuxt-i18n/blob/master/types/vue.d.ts)

### Steps to reproduce

In your typing:
`localePath(route: string | Route, locale?: string): string`

Pass to localePath a string as route:
`this.localePath('

[2018-12-21 13:36] Frankwarnaar opened #171 "Nuxt generate"
### Version

[4.0.0](https://github.com/nuxt-i18n/releases/tag/4.0.0)

### Reproduction link

[https://deploy-preview-81--miele-laundry-club.netlify.com/nl/](https://deploy-preview-81--miele-laundry-club.netlify.com/nl/)

### Steps to reproduce

Enter a postalCode (for instance `2011JJ`) in the input. You will be redirected to another sub route of the index page.

### What is expected ?

When you

[2018-12-26 06:42] hinex commented on #117
It's fixed on https://github.com/nuxt-community/nuxt-i18n/pull/145
Try to latest version 5.4.4

[2018-12-27 03:04] willin opened #173 "Cannot set property 'locale' of undefined"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

- demo: [https://willin.guru](https://willin.guru)
- source: https://github.com/willin/willin.github.io

### Steps to reproduce

when development mode it's ok, but when built and deployed it shown error.

### What is expected ?

works properly

### What is actually happening?

[code]

source code: https

[2018-12-30 00:42] michaelize commented on #173
Same issue as in https://github.com/nuxt-community/nuxt-i18n/issues/166

My Nuxt config is:

[code]

I'm deploying with `nuxt generate`. Suspecting that Nuxt hasn't initialized Vuex successfully so that state is returning undefined instead of a function: https://nuxtjs.org/guide/vuex-store#modules-mode

[2019-01-04 10:49] tex0l opened #177 "Detect browser language when using `nuxt generate` (in 'universal' mode)"
### Version

[v5.4.4](https://github.com/nuxt-i18n/releases/tag/v5.4.4)

### Reproduction link

[https://github.com/tex0l/nuxt-i18n-repro-case](https://github.com/tex0l/nuxt-i18n-repro-case)

### Steps to reproduce

Start a static server on a project built using `nuxt generate` in `'universal'` mode. The test case provided does exactly that with an nginx server started with the result of the `nuxt

[2019-01-08 10:02] ljanecek opened #179 "Wrong routes for nested pages"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://www.vysokyujezduprahy.cz/en](https://www.vysokyujezduprahy.cz/en)

### Steps to reproduce

All non-nested pages have their routes generated correctly - try visiting all pages except Pricemap.
Pricemap is a nested page and its routes do not include /en as they should.

### What is expected ?

UR

[2019-01-09 04:21] MarvinMiles commented on #34
My function for load fallback language when needed

/plugins/i18n.js:

[code]
then call "this.$loadLanguageAsync(lang)" from anywhere

I am using this for translating via keyboard shortcuts events :)

Hope this will help someone

[2019-01-10 14:37] matsrietdijk commented on #14
@paulgv currently on v5.4.4 and again for ignored pages (by setting `nuxtI18n: false` on the component) these link tags are added. Now also causing vue-router warnings because `<routename>___<code>` does not exist.

[2019-01-11 11:16] langald commented on #100
same issue:
in head section are missing link tags with goggle fonts

[2019-01-14 05:00] langald opened #180 "When change locales in cycle, Vuex i18n.messages updates only firs cycle"
When change locales in cycle, Vuex i18n.messages updates only firs cycle, then in state displayed  the old massages value.

![screenshot 2019-01-14 10 57 33](https://user-images.githubusercontent.com/30315413/51097048-5a39c680-17eb-11e9-816e-10570a70e3ac.png)

[2019-01-14 05:00] #180 closed

[2019-01-14 13:58] #173 closed

[2019-01-15 13:18] urbgimtam commented on #150
Any news on this? I'm suffering the same, and can't understand how to solve it.

[2019-01-17 07:39] rhwilr commented on #134
I'm running into the same issue. @webmint did you find a solution?

[2019-01-17 07:49] rhwilr commented on #134
Never mind, I just found a solution: You have to set `parsePages: false` in the options for nuxt-i18n.
https://nuxt-community.github.io/nuxt-i18n/options-reference.html

[2019-01-17 12:58] CKGrafico commented on #170
any solution?

[2019-01-17 16:33] tronstoner opened #191 "Encoding custom paths breaks RegExps (introduced in #145)"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/tronstoner/nuxt-i18n-bugreport](https://github.com/tronstoner/nuxt-i18n-bugreport)

### Steps to reproduce

1- git clone https://github.com/tronstoner/nuxt-i18n-bugreport.git
2- npm install
3- npm run dev
4- open console in browser
4- go to http://127.0.0.1:3000
5- Error: `[vue-route

[2019-01-18 09:43] tronstoner commented on #191
Version is actually 5.5.0, don't know why cmty selected 5.3 for me.

[2019-01-23 03:58] michaelize commented on #166
@HapLifeMan Can you check if this fix in https://github.com/nuxt-community/nuxt-i18n/pull/178 resolves your issue?

[2019-01-23 12:06] HapLifeMan commented on #166
@michaelize Unfortunately this doesn't fix the issue, no `index.html` file is generated on root folder...

[2019-01-23 13:49] michaelize commented on #166
I see. This is a different issue than in https://github.com/nuxt-community/nuxt-i18n/issues/173. The strategy is prefix and there isn't an index page to redirect to the default locale folder.

@paulgv Do you think we should have an index.html in the root directory to do the redirection?

[2019-01-23 14:25] paulgv commented on #166
@michaelize hmm yeah maybe we should add a `/` when in `generate` mode with `prefix` strategy. But if we do this, users might be able to access an empty page at `/` after being redirected once (if `useCookie` is `true`).
@HapLifeMan how about using `prefix_and_default` strategy instead, would that make sense in your case?

[2019-01-23 15:00] michaelize commented on #166
On second thought, creating an index.html seems a bad idea. The module only generates the pages that exist. Creating an index.html will have a higher chance of causing conflicts, for example, if the user has a common index.html in place, we cannot overwrite that index.html.

I think it makes more sense to have the user creates a common entry point for all locales. It can be a page where the user c

[2019-01-23 18:33] HapLifeMan commented on #166
Yes it can be a good solution and resolve a part of the problem @paulgv.
But I don't know what can be the impact on SEO with that kind of redirect...
What will be displayed when you type `myapp` in your browser, what URL will be showed and in which language etc...

[2019-01-23 18:56] paulgv commented on #166
Having this kind of redirection will prevent the root path `/` from being indexed at all because all requests will be redirected to one of the prefixed path. More info on 301 redirects: https://moz.com/learn/seo/redirection
As for which URL will show up first in the results, it will probably be the one corresponding to the default redirect most of the time since googlebot does not set the `Accept-

[2019-01-24 03:20] michaelize commented on #171
Can you post your configuration? Including the path definition in case it's done in-component.

[2019-01-24 04:46] michaelize commented on #100
In the latest version, this issue seems have been fixed. In https://github.com/nuxt-community/nuxt-i18n/pull/178 the vuex SSR bug has been fixed.

[2019-01-24 09:46] manniL commented on #161
@michaelize Awesome!

@felixdenoix can you second this? ☺️

[2019-01-24 14:14] #191 closed

[2019-01-24 17:30] felixdenoix commented on #161
@manniL Seems ok  for me !

[2019-01-24 18:07] #161 closed

[2019-01-28 15:37] ruzpuz commented on #140
I am experiencing this issue as well... any way around it?

[2019-01-29 12:11] mk-tool commented on #53
I could solve this problem to check `req` value.
[code]

[2019-01-30 05:00] nelsonlarocca commented on #32
so for each image also we would need to check if the image exists otherwise get the "fallback" one.

[2019-01-30 16:02] arantes555 commented on #73
Seeing the same issue here. In `dev` only, `nuxt-link` inside a `transition-group` with `nuxt-i18n` enabled gives the error. Removing any of those 4 makes it work fine.

[2019-01-30 17:50] sindael opened #204 "Lazyload custom paths in nuxt config?"
Hi. I'm working on the internalization of my website and the _nuxt-i18n_ has served me great so far. However, I haven't figured out how to fetch and load translations for the path from a server. With the [documentation ](https://nuxt-community.github.io/nuxt-i18n/routing.html#custom-paths)I got the lazyloading of `locales` going, but it seems this is not implemented in case of the `pages` option (

[2019-01-30 17:50] #204 closed

[2019-01-30 17:58] jovanmaric opened #205 "this.$i18n.locales is undefined when using yaml-loader"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/jovanmaric/nuxti18n-yaml](https://github.com/jovanmaric/nuxti18n-yaml)

### Steps to reproduce

- Start with `yarn dev`.
- Open console to see `this.$i18n.locales` outputting an array
- Stop server
- Uncomment the build configuration in nuxt.config.js
- Start with `yarn dev`
- Open c

[2019-02-01 16:18] andrade1379 opened #207 "Allow for alternative language detection"
### What problem does this feature solve?

Currently, Nuxt-i18n has an option to allow for browser detection which is great but not always accurate. It would be nice to allow for an alternative source to detect users language preference.

### What does the proposed changes look like?

I'm proposing an option to allow for an alternative provider to detect a users language needs. For example, a geol

[2019-02-04 10:20] HapLifeMan commented on #56
Any plan to add this feature @paulgv? It could be very useful 🙂

Maybe a `prefix: false, // or null` or `pages: false,` would do the job!

[2019-02-05 20:38] iliyaZelenko commented on #170
I already did a PR for this: https://github.com/nuxt-community/nuxt-i18n/pull/167.

[2019-02-06 10:23] T-Zahil commented on #177
Same problem here

[2019-02-07 09:16] jovanmaric commented on #205
On second inspection, it seems that enabling `@kazupon/vue-i18n-loader` makes this.$i18n unreadable.

[2019-02-08 13:16] rchl commented on #152
More mature implementations like ui-router for angular sort the rules by specificity. It's quite complex algorithm though and I'm not sure exactly about specifics.

[2019-02-08 13:40] rchl opened #215 "Support passing path to localePath for easier resolving of dynamic routes"
### What problem does this feature solve?

`localePath` takes either string or object.
String is expected to be route's internal name.
Object, with current implementation of `localePath`, will be passed to VueRouter's resolve function but the `name` property will get `___[locale]` appended to it.

The problem is that the object variant expects `name` to be set, otherwise it will create `name` valu

[2019-02-09 21:58] lu40 commented on #150
![simplescreenrecorder-2019-02-09_22 40 42](https://user-images.githubusercontent.com/9354955/52526656-31a6ce80-2cbc-11e9-8c3c-cd73695e5c30.gif)

The transition is copy-pasted from the original issue description. @thariddler I guess it's this behaviour you were talking about?

-----
For me the following workaround does the job:
[code]
However this __disables__ page transitions when switching the l

[2019-02-10 13:30] iliyaZelenko commented on #205
@jovanmaric, I watched your code and library code, it's hard to say why this happens, try asking a question in their repository.

[2019-02-11 09:19] Frankwarnaar commented on #171
My nuxt-i18n config, where defaultLocale is `nl` and `locales` is:
[code]
[code]

The path defined by my folder structure.

[2019-02-13 20:08] urbgimtam commented on #43
I use a similar strategy to link to a child url (for SEO purposes), but also passing an id that I use to fetch data from.

Without i18n, you can do
        `<nuxt-link :to="{name: 'thepage-url', params: {id: '123', url: 'abced' }"} /> `
which will give you access to both parameters in $routes.params object on the child page.

However, with i18n, when you write:
`<nuxt-link :to="localePath({ name:

[2019-02-14 14:11] francoislevesque opened #218 "Disable route translations for a whole app section"
### What problem does this feature solve?

We are currently building an app with a public section and an admin (protected) section. We need to make the public part fully translated (routes and texts). However, this is not essential for the admin part, since it does not need to be SEO friendly. However, the admin section still needs to show the text in the user's language. The current language does

[2019-02-14 14:12] pierbettassa opened #219 ""Template src not found:" when using Electron builder"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/nuxt-community/electron-template](https://github.com/nuxt-community/electron-template)

### Steps to reproduce

Clone template repository
Install and setup nuxt-18n as described in https://github.com/nuxt-community/nuxt-i18n
Build: npm run build
Open app created in dist folder

### W

[2019-02-15 11:23] davecoggins opened #221 "Vuex store current locale is out of sync when swithing between locales if lazy loading is enabled"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/nuxt-community/nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n)

### Steps to reproduce

Have lazy loading enabled and then switch between locales on frontend using the switchLocalePath helper.

### What is expected ?

The vuex store locale value should update

### What is act

[2019-02-15 14:39] xibman commented on #221
Same problem on 5.8.1

[2019-02-15 20:21] #221 closed

[2019-02-16 13:52] pixlforge commented on #173
So funny enough, this issue started happening after I installed Vue devtools beta 5 on Chrome. Went right away after I removed the extension.

[2019-02-16 14:23] honzabilek4 opened #224 "Meta og:locale shouldn't contain name property"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://codesandbox.io/s/z38klo3lrx](https://codesandbox.io/s/z38klo3lrx)

### Steps to reproduce

Meta tags are included by default, when using the plugin.

### What is expected ?

The `og:locale` meta tag should look like following:
`<meta property="og:locale" content="en_GB" />`
More info:
http://og

[2019-02-17 14:49] #224 closed

[2019-02-19 11:49] furyscript opened #228 "Set construction with children route"
### What problem does this feature solve?

With this feature, we could know three of APP and get parents/children route.
This can be useful for breadcumbs in a site.
At this moment the routing construction has a limit that all route is in the same level without using `children` props of `vue router`.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">

[2019-02-20 13:29] furyscript commented on #79
Anyone have news on this issue?
I need really urgent this feature.

[2019-02-21 08:08] #228 closed

[2019-02-22 16:43] #140 closed

[2019-02-24 22:26] imShara commented on #56
Yep, if you make app with interface localization only, there is no need to prefix language in routes.

[2019-02-25 15:57] adetbekov commented on #56
@imShara I think it is necessary for Server Side Rendering part. Otherwise search engine bots will not be able to index multi-language sites. May be it should be neglected dynamically on the client side. Add some triggers, you know, some state, that remember current language(preferred locale).

[2019-02-25 21:11] imShara commented on #56
@adetbekov E.g app is forum. Interface is multilangual, content - mixed. What should be in url? What should happens with locale when you send link to thread?

[2019-02-25 23:46] acidjazz commented on #80
@gnuletik @paulgv I'm still getting this error with nuxtjs v2.4.3 and nuxt-i18n v5.8.4

Instead of redirecting or giving a proper 404 when i hit any older page (aka `/careers` which is now `/en/careers`) I get "Cannot read property 'iso' of undefined"

![image](https://user-images.githubusercontent.com/967369/53376810-3bb80680-3925-11e9-8416-ebc7fd8897f4.png)

[code]

[2019-02-26 00:06] imShara commented on #150
@lu40 thanks, but returning transition name should not be empty `''` becouse it will be replaced to default. Should return any character, e.g:
[code]

[2019-02-26 05:33] borie88 commented on #86
Doesn't seem to work though

[2019-02-26 20:40] rchl commented on #80
I've looked a bit at the code.

With default strategy (`prefix_except_default`), with two pages: `index.vue` and `about.vue`, these routes are generated:

[code]

As there is no `/about` route being generated, the whole redirection logic fails because it can only redirect *from existing routes* due to needing route's *name* to properly resolve current route and route to redirect to.

The behavior

[2019-02-26 20:56] rchl commented on #80
Created PR #233 that will fix the crash but won't fix/change redirection logic.

[2019-02-26 21:16] rchl commented on #218
If you are willing to disable `parsePages` option, you can use `pages` option to disable language route generation per path. See https://nuxt-community.github.io/nuxt-i18n/routing.html#custom-paths
If you set specific path to `false` then I think it will not generate prefixed routes.

But if you don't want to create such object for every admin route, then maybe a solution would be to extend that f

[2019-03-02 23:00] lukaVarga commented on #86
Not working for me either. If I go to `main_url/locale`, it will use that locale and store it in the cookie. The next time I visit `main_url` (so without the `locale` suffix), it will load the default locale instead of using the one that's stored in the cookie

[2019-03-03 04:16] borie88 commented on #86
Thanks. I ended up doing something similar, making a plugin:
`
import VueCookie from 'vue-cookie'

export default function ({ app }) {
  app.i18n.onLanguageSwitched = (oldLocale, newLocale) => {
    if (process.browser) {
      if (VueCookie.get('i18n_redirected') !== newLocale) {
        VueCookie.set('i18n_redirected', newLocale)
      }
    }
  }
}`

[2019-03-04 21:29] lukaVarga opened #237 "Impossible to add pluralizationRules via the vueI18n options"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link
Not really needed

### Steps to reproduce

1) In `nuxt.config.js`, within the options for the `nuxt-i18n` module, add a `vuei18n` option
2) Add `pluralizationRules: {'en': function(choice, choicesLength) {  return 0 }}` object
3) run `npm run dev`

### What is expected ?

The generated `.nuxt/nuxt-i18n/p

[2019-03-07 16:39] OfekA opened #240 "nuxt-i18n does not generate a file named index.html for non default locales"
### Version

[5.8.5](https://github.com/nuxt-i18n/releases/tag/5.8.5)

### Reproduction link

N/A

### Steps to reproduce

This is my `nuxt-i18n` config:
[code]

- run `nuxt generate`
- look in the `/dist` folder under non-default locale
- the file that should be `index.html` is called `.html` (no name for the file)

### What is expected ?

`nuxt-i18n` needs to generate a file named index.html for

[2019-03-11 08:32] OfekA commented on #240
I currently solved the issue by running a small renaming script after running `nuxt generate`:

`fix-index-locales.js`
[code]

`package.json`
[code]

Hopefully it will help people who have the same issue..

[2019-03-11 15:04] elisiondan opened #245 "Add ability to alter status code with rootRedirect option."
### What problem does this feature solve?

By default, the redirect function sets the HTTP response code to **302 Found**. However, there are situations when it is desirable to set a different status. Specifically, this change avoids the issue with google crawlers which mark the root page and the target page of the *rootRedirect* property as duplicates. This occurs because the crawler expects one

[2019-03-13 21:22] sambrezo commented on #215
I found this information to be very useful for decoupling my CMS and serving content with Nuxt. I'm using the slightly less awkward syntax `{name: 'all', params: ['about']}`, but support for the `path` property is definitely preferable.

I'd like to add that you must add your default locale last to the locales definition, eg:

[code]
So you get the following routes generated for your `_.vue` page

[2019-03-14 06:57] rchl commented on #215
Indeed. It's #152

[2019-03-15 15:57] Cjumelin opened #248 "beforeSwitchLanguageAndFirstRender()"
### What problem does this feature solve?

This will solve a probleme i encounter with internationalization of my app:

When I switch the language or directly load the language (from the url or the localeStorage of the client) I need to switch vuetify.rtl in some case.
On language where RTL is true (i use beforeSwitchLanguage or router.beforeEach call back to set RTL), the RTL value isn't even tru

[2019-03-18 12:24] sambrezo commented on #205
The same problem occurs when using [Component based localization](https://kazupon.github.io/vue-i18n/guide/component.html) with vue-i18n. I don't think it's related to YAML.

[2019-03-18 15:12] nathakits opened #253 "Use different web font when switching language"
### What problem does this feature solve?

This problem allows for the user to use different types of webfonts suited for different languages. From a design standpoint this is very helpful and essential in showing many webfonts in a website.

### What does the proposed changes look like?

A website that has different webfont for different language.

<div align="right"><sub><em>This feature request

[2019-03-19 15:37] urbgimtam commented on #79
I'm still searching for an update on this issue.

[2019-03-19 15:58] victor192 opened #254 "Locale files are loaded into the rendered html code"
### Version

[v5.8.5](https://github.com/nuxt-i18n/releases/tag/v5.8.5)

### Reproduction link

[https://www.example.org](https://www.example.org)

### Steps to reproduce

1. `npm run build`
1. `npm run start`
2. Open source code of the page

### What is expected ?

That the locale files will be located in a separate js file and not in the page code

### What is actually happening?

Locale files a

[2019-03-19 19:30] rchl commented on #254
I think it might be due to `vuex` store being enabled (it is by default). You can disable it if you don't need it with `vuex: false`.

[2019-03-20 15:49] rchl opened #255 "Add all exposed types/objects to typescript definitions"
### What problem does this feature solve?

Typescript definitions define `$i18n` object on `vue/types/vue` module [1].

Problem 1:
The definitions for `$i18n` object  don't include `locale` property that nuxt-i18n exposes [2]

Problem 2:
nuxt-i18n actually creates the `i18n` object [3], not `$i18n`. The `$i18n` is the instance created by `vue-i18n` plugin itself and it doesn't match the one that n

[2019-03-21 23:40] tasiek opened #256 "Lazy loading for locales list"
### What problem does this feature solve?

In some cases, there's a need for a dynamic locales list (i.e. localizations created by editor on CMS). Currently, `locales` only allows a static array.

### What does the proposed changes look like?

To allow dynamic locales listing, `locales` should allow functions as well, including those returning a `Promise`.

<div align="right"><sub><em>This feature

[2019-03-22 13:51] Akhail opened #257 "I can't setup nuxt-i18n"
![image](https://user-images.githubusercontent.com/22435967/54826710-bd7e2400-4c86-11e9-87cf-54436d5a22da.png)
![image](https://user-images.githubusercontent.com/22435967/54826755-db4b8900-4c86-11e9-9b0e-3514684b09c4.png)

I follow the official guide but it didn't work, nuxt-i18n has not been injected correctly in the vue instance, it throws me that _vm.$t and this.$i18n does not exists

[2019-03-22 13:51] #257 closed

[2019-03-22 21:41] lukaVarga commented on #68
The `this.$router.push` solution still reloads the page.
Here's how I solved this issue:

[code]

[2019-03-24 02:42] orblazer opened #258 "Not apply detectBrowserLanguage when use redirect in other middleware"
### Version

[V5.8.5](https://github.com/nuxt-i18n/releases/tag/V5.8.5)

### Reproduction link

Not really needed

### Steps to reproduce

1. Create middleware like that :
[code]
2. Enable `detectBrowserLanguage`. I use :
[code]
3. Try to go `http://localhost:3000/`

### What is expected ?

When use middleware auth and i am not logged need redirect `/` to `/fr/login`

### What is actually happenin

[2019-03-25 15:20] rasgo-cc commented on #34
I can confirm this as well. Using nuxt `2.5.0`.
Meaning this option won't work at all for lazy loaded messages.
[code]

[2019-03-25 19:38] manniL commented on #34
@MarvinMiles 	would you mind sending in a PR?

[2019-03-26 11:15] orblazer opened #259 "Route is break when nuxt.config is updated"
### Version

[v5.8.5](https://github.com/nuxt-i18n/releases/tag/v5.8.5)

### Reproduction link

Not really needed

### Steps to reproduce

1. Install `nuxt-i18n`
2. Create routes with like config :
[code]
3. Update `nuxt.config.js`

### What is expected ?

Just update

### What is actually happening?

When `nuxt.config.js` is updated we have
[code]

<div align="right"><sub><em>This bug report is a

[2019-03-27 08:56] dappiu commented on #259
I just experienced a problem that may be related, but seems that your proposed fix it does not solve that too:
the `strategy: 'prefix_except_default'` does not work anymore and prefixes also the defaultLocale, breaking `nuxt-link` references

[2019-03-27 11:08] orblazer commented on #259
@dappiu Hello, i have try and not this is work, if the refresh the page this is redirect because `i18n_redirected` is present and is not update when switch locale (i go fix that today)

[2019-03-28 13:57] bangjelkoski commented on #14
@matsrietdijk I have the same issue. Have you solved that issue somehow?

[2019-03-28 14:17] matsrietdijk commented on #14
@bangjelkoski currently I disabled SEO all together and rolled my own plugin to add the correct tags/attributes. So not ideal but it does the job.

[2019-03-28 14:18] bangjelkoski commented on #14
@matsrietdijk I did the same. I am still not in production so I dont need SEO at the moment but I hope this issue will be resolved.

@paulgv can you please have a look?

[2019-03-29 03:22] adi-zz commented on #117
Still/again not working, using nuxt 2.5.1 + nuxt-i18n 5.8.5, as can be reproduced using a [codesandbox](https://codesandbox.io/s/6x2153kv43) I created:
- if you open the [homepage](https://6x2153kv43.sse.codesandbox.io/) and click 'about us fr', you get to `https://6x2153kv43.sse.codesandbox.io/fr/a-proposç` - ok
- but, if you try to open https://6x2153kv43.sse.codesandbox.io/fr/a-proposç directly

[2019-03-31 11:33] vodniciarv opened #262 "Long loading time, when use 90 or more languages"
### Version

[v5.8.5](https://github.com/nuxt-i18n/releases/tag/v5.8.5)

### Reproduction link

Not really needed

### Steps to reproduce

1. Create an app.
2. Add 10-20 routes.
3. Add 100 languages.

### What is expected ?

Spped!

### What is actually happening?

Slow loading app.

### Additional comments?

What options (settings) is recoomend to use when in app is 92 languages?
Due to the fact

[2019-03-31 14:13] mornir commented on #215
Yes, that would be really nice to have!

[2019-04-03 19:55] vodniciarv commented on #262
Maybe this [pull request](https://github.com/nuxt-community/nuxt-i18n/pull/165) solve this problem?

[2019-04-08 20:20] natemate90 commented on #177
Above solution works, but this should be mentioned in the documentation.

[2019-04-09 11:46] robinscholz commented on #259
Experiencing the same issue

[2019-04-10 21:23] tegola commented on #126
Did you manage to fix this? I'm currently trying to passing dateTimeFormats, but it won't work neither in the main options config or the `vueI18n` property.

[2019-04-11 01:01] vodniciarv commented on #262
Any Ideas?

[2019-04-11 14:57] WouterFlorijn opened #268 "nuxt-i18n doesn't work with pm2"
### Version

[v5.8.5](https://github.com/nuxt-i18n/releases/tag/v5.8.5)

### Reproduction link

[https://dyme.app](https://dyme.app)

### Steps to reproduce

- Install and configure nuxt-i18n.
- `npm run build`
- `pm2 start npm --name "my-project" -- start`
- Configure nginx with `proxy_pass http://localhost:3000`

### What is expected ?

The website works.

### What is actually happening?

Every

[2019-04-11 18:23] phortx commented on #57
So what is the solution for this issue when it's closed?

[2019-04-11 18:41] phortx commented on #57
Found https://github.com/nuxt-community/nuxt-i18n/issues/14

[2019-04-11 18:42] phortx commented on #14
@paulgv This is a serious issue not just because of the broken tags but also because it generates thousands of warnings which really causes high cpu usage and makes the app slow.

[2019-04-11 19:39] WouterFlorijn commented on #268
Update: The error logs are pretty clear about what's going on:

Why is this happening though? Is my Nginx config too strict regarding header size? Or is there a bug in nuxt-i18n causing huge header sizes?

Also, any idea how I can debug this locally? The response header looks normal when I use `npm run dev`:

[code]

[2019-04-12 11:04] rchl commented on #268
Are you able to log the too-big response?

[2019-04-12 11:49] WouterFlorijn commented on #268
@rchl do you happen to know how to do that directly for a nodejs process? The ones I get in the browser (so after going through nginx) are

date: Fri, 12 Apr 2019 11:47:45 GMT
server: nginx
set-cookie: @@=1; Max-Age=8640000; Path=/
status: 304

[2019-04-12 11:50] WouterFlorijn commented on #268
By the way, I increased the max header size to 128k and now everything works fine. I mostly would just like to know if this is normal or if there's an underlying issue somewhere.

[2019-04-12 12:50] rchl commented on #268
Response header size shouldn't be bigger than few KB. 128k is definitively too much to allow.

All nuxt does is set a language cookie if browser language detection is enabled. Maybe your code is wrong and sets some big string there. Show how you initialize nuxt-i18n maybe.

[2019-04-12 13:05] datvtwkm commented on #14
Idk but  this is not work :to="localePath('companies/create')"  and raised error "[vue-router] Route with name 'companies/create___ja' does not exist"
but this work and doesnot show error: :to="localePath('companies-create')"
Any idea why?

[2019-04-12 14:31] sambrezo commented on #205
I just came back to this issue and this time it works. I could be totally off here, but in my code I am no longer using the `locales.name` property for the lang-switcher.

[2019-04-17 21:40] pschaub commented on #114
@paulgv the user @rchl has a fix for this. I have not tested it yet. See https://github.com/rchl/nuxt-i18n/commits/fix/always-redirect

But first of all we need to merge https://github.com/nuxt-community/nuxt-i18n/pull/266 because it is based on a possible fix for this issue

[2019-04-18 13:51] jovanmaric commented on #205
I'm unable to test this unfortunately, as I switched to app wide localization, to improve reusability. This issue can be closed as both @iliyaZelenko and @sambrezo are referring to the [vue-i18n](https://github.com/kazupon/vue-i18n) as the major culprit.

[2019-04-18 13:55] #205 closed

[2019-04-19 19:55] JuanxCursed commented on #257
Hi, did u figure out?
I've been trying setup this for hours by now and nothing works =/

[2019-04-23 21:48] mrleblanc101 commented on #24
Could this be corrected in the doc ? See: https://nuxt-community.github.io/nuxt-i18n/basic-usage.html#nuxt-link

[2019-04-24 07:28] AndrewBogdanovTSS commented on #237
Any updates regarding this issue?

[2019-04-25 07:35] praffn commented on #79
I'm chiming in here too, can't for the life of me figure out an elegant solution.

[2019-04-25 13:08] vodniciarv commented on #262
My `nuxt.config.js`:
[code]

[2019-04-25 18:36] paulgv commented on #24
@mrleblanc101 done! Feel free to open PRs to help improve the doc, it can be done right in GitHub by clicking the `Edit this page on GitHub` link at the bottom of each documentation page.

[2019-04-27 00:46] paulgv commented on #114
@pschaub Thanks for the heads up! @rchl would you care opening a PR with your work around cookies? I'll make sure to review it ASAP.

[2019-04-28 20:24] rchl opened #282 "Document API additions"
### What problem does this feature solve?

Documentation should have an API section that documents addition to the `VueI18n` and `app` objects. Currently that info is all over the place.

### What does the proposed changes look like?

Some roughly collected info for this:
 - extends `VueI18n` instance with properties: locales, defaultLocale, differentDomains, forwardedHost, beforeLanguageSwitch, o

[2019-04-28 21:10] rchl commented on #114
@paulgv @pschaub created #283 with the fix. Basically fixed so that with `detectBrowserLanguage.useCookie` and `detectBrowserLanguage.alwaysRedirect` enabled, redirection will always happen (whether navigating server side or on the client).

I did wonder though, while making the fix, what is really the point of using `detectBrowserLanguage.useCookie = true` and `detectBrowserLanguage.alwaysRedirec

[2019-04-29 12:29] ValentinCrochemore opened #285 "TypeError: "i18n is undefined" when extending Vue component"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://codesandbox.io/s/5zzm3m68rx?fontsize=14](https://codesandbox.io/s/5zzm3m68rx?fontsize=14)

### Steps to reproduce

1. Create a component with translations using $t function.

1. Extend it anywhere else in the app

### What is expected ?

Component should mount properly

### What is actually hap

[2019-04-30 09:21] berenicestr opened #286 "Structure subpages - not loading"
Good Morning,

When I generate subpages in my structure it doesn't generate the link to my url and appears a vue-router error. Any help?

I have this sample structure pages:

pages
 - test
-- index.vue
--dt
---index.vue

In my configuration I have this:

const I18N = {
  vueI18nLoader: true,
  locales: [
    {
      code: 'en',
      name: 'English',
      iso: 'en-US',
      file: 'en-US.js',

[2019-04-30 09:21] #286 closed

[2019-04-30 09:56] berenicestr commented on #116
Hi @paulgv and @bartlomieju  I have the same error, I open a question: https://github.com/nuxt-community/nuxt-i18n/issues/286

I have the index.vue but it doesn't work for me.

Please, any help to resolve this?

[2019-04-30 10:32] paulgv commented on #114
@rchl thanks! I'll have a look asap.

[2019-04-30 14:14] ValentinCrochemore commented on #286
Try with `localePath('test-dt')` or look into .nuxt/router.js where all your routes are registered

[2019-04-30 14:55] berenicestr commented on #286
Thanks @ValentinCrochemore !!! with localePath('test-dt') it goes OK!!! :-)

[2019-04-30 16:00] ValentinCrochemore commented on #285
Ok I reproduced it with pure `Vue` and `vue-i18n`. Thanks for your response i'll report it on vue-i18n repo. If your intersted there's a [link](https://codesandbox.io/s/0p2l41ql0w?fontsize=14) to the codesandbox I made to reproduce the bug.

[2019-04-30 16:17] #285 closed

[2019-05-05 17:37] rchl commented on #258
Can you try with latest version (5.11.0)? I believe #283 should have fixed it.

[2019-05-05 20:10] rchl commented on #106
It seems like with your suggested changes, if one goes to `/jp/foo`, there would be no redirection, even if stored cookie has `fr` locale. I kinda like that idea but there would have be special handling for `PREFIX_AND_DEFAULT` mode so that going to `/foo` would still redirect even though `localeFromRoute` would be defined to something.

[2019-05-06 12:45] #34 closed

[2019-05-07 11:05] aldarund opened #292 "Duplicate route names with prefix_and_default strategy and nuxt-child"
### Version

[5.12.0](https://github.com/nuxt-i18n/releases/tag/5.12.0)

### Reproduction link

[https://codesandbox.io/s/q3lyoq6vkq](https://codesandbox.io/s/q3lyoq6vkq)

### Steps to reproduce

Structure is following:

[code]

account.vue content
[code]
### What is expected ?

no duplicate children route generated

### What is actually happening?

duplicate children route generated
[code]

### A

[2019-05-07 11:15] rchl commented on #292
Relevant generated routes:
[code]
Problems:
- there are two children per locale route (should be just one)
-  the `undefined` in /account route also looks wrong

[2019-05-07 12:02] aldarund commented on #292
undefined goes from https://github.com/nuxt-community/nuxt-i18n/blob/dc668952c4501c2e0b95603dd838b47ec18db0b9/src/plugins/routing.js#L28
e.g. name is not undefined and it appends prefix to it and hence the undefiend__default

[2019-05-07 12:04] rchl commented on #292
Yes, looks like routes with children are not supposed to have name because one is not supposed to navigate to child routes directly.

[2019-05-07 13:53] gianniskarmas opened #293 "multiple domains is broken - 'req is not defined'"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://codesandbox.io/s/wwwp0jpxow?from-embed](https://codesandbox.io/s/wwwp0jpxow?from-embed)

### Steps to reproduce

still haven't dug deep enough but after upgrading I started getting this error

### What is expected ?

Multiple domains to work

### What is actually happening?

req is not defined

[2019-05-08 06:55] rchl commented on #293
Clearly a bug from my changes, will fix ASAP.

[2019-05-09 04:43] #292 closed

[2019-05-09 04:45] #293 closed

[2019-05-09 07:01] pi0 opened #297 "Implicit dependency on `vue-template-compiler`"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://github.com/nuxt/now-builder/issues/42](https://github.com/nuxt/now-builder/issues/42)

### Steps to reproduce

-

### What is expected ?

-

### What is actually happening?

-

### Additional comments?

This module has an implicit dependency on `vue-template-compiler` [here](https://github.com/

[2019-05-09 08:26] rchl commented on #297
This code is running when generating extra locale routes.

Nuxt generates routes in this order:
 - generate default routes
 - call `build:extendRoutes` hook
 - process routes returned from `options.router.extendRoutes` function (if defined)

This module uses `ModuleContainer.extendRoutes(fn)` to hook into processing of `options.router.extendRoutes`.

So even when no actually using a hook (because

[2019-05-09 09:26] rchl commented on #297
@pi0 you think #298 is a good solution to both problems?

[2019-05-09 09:53] rchl commented on #53
I've just tried running `npm run generate` on fairly big project that is also using lazy loading and it worked just fine so I'll assume current version (v5.12.1) has original problem fixed.

This report talks about too many things anyway, and if there is something to be done, it should be split into separate, more specific, bug report.

[2019-05-09 10:00] rchl commented on #54
This should be fixed in current version as it takes into account possible `export.default` property:
https://github.com/nuxt-community/nuxt-i18n/blob/a6172ec0b2387c24424d50189fee015e20232a95/src/templates/utils.js#L23-L25

[2019-05-09 10:13] pi0 commented on #297
@rchl yes, that totally makes sense. Thanks for the PR.

[2019-05-09 10:40] rchl commented on #73
Can't reproduce it anymore myself. Even with old tests.

[2019-05-09 10:58] rchl opened #300 "Outdated documentation"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://nuxt-community.github.io/nuxt-i18n/lang-switcher.html](https://nuxt-community.github.io/nuxt-i18n/lang-switcher.html)

### Steps to reproduce

-

### What is expected ?

-

### What is actually happening?

-

### Additional comments?

There are some changes to documenation that are not yet depl

[2019-05-09 10:59] rchl commented on #86
This is now implemented. Redirection always happens with `alwaysRedirect` enabled and saved locale can be updated with `setLocaleCookie()` method.

Can be closed.

[2019-05-09 14:41] rchl commented on #114
Fix is integrated. This can be resolved.

[2019-05-09 14:54] rchl commented on #117
@adi-zz you can set `encodePaths: false` to disable path encoding.

It's probably still a bug but there is a workaround at least.

[2019-05-09 15:03] rchl commented on #117
For reference: encoding of paths was added to fix #7

[2019-05-09 17:09] tex0l opened #301 "Dynamic import is broken when using nuxt-i18n"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://codesandbox.io/embed/l4921qqll7](https://codesandbox.io/embed/l4921qqll7)

### Steps to reproduce

Run `yarn run dev` in the repro link.

### What is expected ?

It should work.

### What is actually happening?

`ERROR  Unexpected token (6:16)`

### Additional comments?

The dynamic import of `

[2019-05-09 21:03] rchl commented on #301
Dup of #134

[2019-05-09 22:00] #297 closed

[2019-05-09 22:35] paulgv commented on #114
Fixed in #283

[2019-05-09 22:35] #114 closed

[2019-05-09 22:36] paulgv commented on #73
Closing for now!

[2019-05-09 22:36] #73 closed

[2019-05-09 22:38] paulgv commented on #54
Closing for now

[2019-05-09 22:38] #54 closed

[2019-05-13 09:47] rchl commented on #297
@pi0 @paulgv I have just noticed a problem with this change.

With nuxt@2.4.5 version at least, I see this error when trying to `build`:

[code]

It seems like versions of `vue` and `vue-template-compiler` must match exactly. I think this line is responsible for that:
https://github.com/vuejs/vue/blob/1137e415c9e8701d1b0a25e5812f8c4dffeeeaaa/packages/vue-template-compiler/package.json#L29
Given th

[2019-05-13 09:50] pi0 commented on #297
@rchl we can either come back to implicit dependency (and only require for build time) or use `this.nuxt.resolver.requireModule` to require `vue-template-compiler`.

[2019-05-13 10:12] rchl commented on #297
@pi0 thanks. Created #305. Please double check I did the right thing.

[2019-05-15 08:44] reneroth commented on #253
Use `vm.$i18n.locale` to read the current language, and use that to apply a class to body / import the correct webfonts.

[2019-05-15 10:06] Sopamo commented on #177
While the above solution might work in specific cases, the middleware is doing [a lot more](https://github.com/nuxt-community/nuxt-i18n/blob/master/src/templates/middleware.js) in the meantime. Imo this issue should be fixed in nuxt-i18n, instead of just mentioning it in the documentation.

[2019-05-17 09:30] SirAuron commented on #134
Hi all.
Incurred into the same issue too.
The solution provided here actually works, but i find it a little bit annoying to move routes into a single file instead of the vue components used for the pages.
Currently, for me is no big deal, since I have to generate dynamic routes for a blog with a script reading some markdown files.
But I think this issue should be addressed.
I do not know I will ha

[2019-05-19 19:53] israelmuca commented on #16
I know this is closed already, but if someone wants another workaround for this problem, I'm using a `button` with `@click="viewGallery"`

`viewGallery:`
[code]

[2019-05-22 11:32] fredericpfisterer commented on #53
Hello,

I have the same issue as soon as I try to "yarn generate" after having differentDomains set to true. Any idea what I can do to solve the issue ?

Cheers

[2019-05-22 12:29] rchl commented on #53
@fredericpfisterer are you able to create repro using codesandbox and create new issue if so?

[2019-05-24 04:49] MasterHiei commented on #86
@rchl Hi, when `alwaysRedirect` is enable, can I switch the locale manually and immediately just like `switchLocalepath()` method? I used `setLocaleCookie()` but it only works on the next navigation.

[2019-05-24 07:22] rchl commented on #86
@MasterHiei You can set cookie and then call `this.$router.replace(this.switchLocalePath(locale));`

[2019-05-24 07:40] MasterHiei commented on #86
@rchl That's it! I'm foolish! Thank you for your help!

[2019-05-24 19:00] fredericpfisterer commented on #53
Hello,

I finally did :

https://codesandbox.io/embed/codesandboxnuxt-zsfbq

And I'm still getting the same error :

![image](https://user-images.githubusercontent.com/4158632/58350682-e7aab880-7e66-11e9-85ca-92f804fcc8de.png)

[2019-05-25 15:12] rchl commented on #53
@fredericpfisterer Thanks for creating reproduction.

Original issue here was not about `differentDomains = true` while your is. Original issue is fixed I believe.

Ideally we would close this one and create new one that would have no confusing comments.

But either way, I doubt if `differentDomains` ever worked in `nuxt generate` mode because module tries to figure out domain on building and that

[2019-05-25 15:30] rchl commented on #53
After more thinking...

I think conceptually these are two conflicting features (generate static pages & `differentDomains` option). With `nuxt generate` you want all pages to be pre-rendered on the server with correct locale already while `differentDomains` option implies that there is only one page that dynamically chooses locale based on the requesting domain. You can't have just one html file

[2019-05-27 09:46] fredericpfisterer commented on #53
True. Thanks for your answer and sorry for the confusion :)

[2019-05-27 10:39] zyrianov-v-fd commented on #256
What status for this request?

[2019-05-29 14:52] estylehq commented on #100
in my case, is not helpful ```seo: false``` and ```return this.$nuxtI18nSeo;``` in ```~/layout/default.vue:head()```

missing ```style-id:vuetify-theme-stylesheet``` and ```link alternates``` data.

* ~/layout/default.vue
[code]

* ~/lang/config.js
[code]

* ~/nuxt.config.js
[code]

[2019-05-30 06:53] fanwenfu opened #317 "Cannot read property '_t' of null & Cannot read property 'locale' of null"
Version
v5.12.3

Reproduction link
Not necessarily reproduce
![image](https://user-images.githubusercontent.com/25945917/58614230-6af65f00-82ea-11e9-84f2-8b466152e5cd.png)
![image](https://user-images.githubusercontent.com/25945917/58614257-7c3f6b80-82ea-11e9-849b-21564c4447d7.png)
![image](https://user-images.githubusercontent.com/25945917/58614281-8fead200-82ea-11e9-9b09-b6fd9c85efc0.png)

What

[2019-05-30 06:53] #317 closed

[2019-05-30 10:09] rchl commented on #317
Are you able to create minimal testcase on codesandbox? I feel this could be a problem with how you use i18n instead of the module itself.

[2019-05-30 10:45] gokhancetiner commented on #117
Hello,

Do you have a target date to fix bug that is mentioned by @adi-zz ?

[2019-05-30 22:16] aldarund commented on #134
Isnt it this problem -> https://github.com/webpack/webpack/issues/8656 ?

[2019-05-31 15:01] stact commented on #86
Maybe a feature request to allow switchLocalePath to change cookie automatically
Boolean to add ? `this.switchLocalePath(locale, true /* set cookieKey */)`

[2019-05-31 15:51] rchl commented on #86
@stact despite the naming, `switchLocalePath` just returns URL of current page for given locale. So it wouldn't really fit to make it set the cookie. Remember it can be used multiple time in a template and then it would change state every time it's called.

[2019-06-01 13:23] vodniciarv commented on #262
Any Ideas?

[2019-06-02 18:08] MLDMoritz commented on #317
I also get `Cannot read property 'locale' of null` in this part:

[code]

[2019-06-02 18:45] rchl commented on #317
Can't help unless you show the code. It can happen if i18n mixin methods are used from wrong `this` context but that doesn't mean there is a bug in this module, necessarily.

[2019-06-02 18:46] #134 closed

[2019-06-02 19:56] paulgv commented on #301
Should be fixed in [`v5.12.4`](https://github.com/nuxt-community/nuxt-i18n/blob/master/CHANGELOG.md#5124-2019-06-02)

[2019-06-02 19:56] #301 closed

[2019-06-04 17:18] arambert commented on #205
I'm facing the same issue:
- vue-i18n-loader sets this.$options.__i18n will the content of the custom i18n block
- when vue-i18n runs its beforeCreate from mixin (https://github.com/kazupon/vue-i18n/blob/master/src/mixin.js#L9) is sets options.i18n to this.$options.__i18n which is now a json object instead of being null
- then the test (https://github.com/kazupon/vue-i18n/blob/master/src/mixin.js#

[2019-06-04 17:20] arambert commented on #205
When I remove the custom i18n block from the component it works again... magic isn't it? ;)

[2019-06-05 07:58] arambert commented on #205
As a temporary workaround I add these lines in a `beforeMount` function in the components where I need locales or switchLocalePath:

[code]

[2019-06-07 10:23] sumitrathore1313 commented on #142
I have finally solved it. I have been trying to solve it for the past 1 week.
### solution

add $v deep watch variable where you define validator object.
example -
watch: {
$v : {
handler: function(val) {
console.log("changed")
},
deep: true
}
},
validations: {
form: validationsform,
}

[2019-06-07 13:03] dinaabramova commented on #142
@sumitrathore1313
Add `console.log` is a great solution 👍 (hello, javascript magic)

My colleague accidentally did something similar, but it solved only one problem. There were another several problems that I described in [related issue](https://github.com/vuelidate/vuelidate/issues/380#issuecomment-443600837). It seems, that your solution should solve all of the problems.
I didn't check it, becau

[2019-06-11 06:51] fanwenfu commented on #317
Because it's not inevitable.So I don't know how to create minimal testcase on codesandbox.
![image](https://user-images.githubusercontent.com/25945917/59249135-a5e78380-8c56-11e9-850f-f8f089287fcc.png)

Except for pages, there are only two places where locale is used
![image](https://user-images.githubusercontent.com/25945917/59249767-1c38b580-8c58-11e9-9505-5d20dbaaaa7a.png)

[2019-06-11 07:04] fanwenfu commented on #317
Because it's not inevitable.So I don't know how to create minimal testcase on codesandbox.
Except for pages, there are only two places where locale is used

![image](https://user-images.githubusercontent.com/25945917/59250548-32e00c00-8c5a-11e9-9102-073b596e51f9.png)

[2019-06-13 10:47] Atinux commented on #259
Should this issue be closed since https://github.com/nuxt-community/nuxt-i18n/pull/291 is merged?

[2019-06-13 10:53] orblazer commented on #259
@Atinux probably yes, i can't try beacause i no longer use nuxt for now

[2019-06-13 10:56] rchl commented on #215
Makes sense to support it IMO.

[2019-06-13 10:57] #259 closed

[2019-06-13 10:57] rchl commented on #152
This is quite a gotcha so should be fixed.

[2019-06-13 11:13] Ingramz commented on #123
It does not seem a very easy fix as the method that determines `req.secure` is quite complex. Porting all of that logic over to this plugin is not very intuitive. I would certainly contribute, if I knew what the suitable solution was.

[2019-06-13 20:07] mithom commented on #219
i have exactly the same issue

[2019-06-13 21:40] manniL commented on #123
Would it be possible to check the requested URL through `req`? :thinking:

[2019-06-14 05:43] Ingramz commented on #123
Not if the hosted application is behind a reverse proxy.

[2019-06-14 07:13] rchl commented on #123
The logic is not that big (https://github.com/expressjs/express/blob/b8e50568af9c73ef1ade434e92c60d389868361d/lib/request.js#L306) but:
 * it requires external `proxy-addr` dependency
 * while in most cases it should do the right thing on its own, in specific setups users would need to provide configuration for that logic (same as `trust proxy` in expressjs provides here https://expressjs.com/en/4

[2019-06-14 10:13] Ingramz commented on #123
That's what I am thinking as well.

[2019-06-17 11:26] pi0 commented on #123
Checking protocol can be easily done for this module:

https://github.com/nuxt-community/is-https

Which is already used by sitemap module

[2019-06-17 11:44] Ingramz commented on #123
@pi0 thanks. This is exactly what is needed. Including it in this package should be a no-brainer too...

[2019-06-18 21:31] ChrisDillinger commented on #18
Hi all,

Has anyone ran into a similar problem for versions 2.4+ ?
And could someone help me gain some context around what I'm building for by default?

Trying to figure out if I need to add nuxt-polyfill dependency just to add this findIndex polyfill, or if this would be solved by changing a babel related setting?

[2019-06-19 09:41] jacobcnhk opened #326 "How the custom paths support other languages"
Currently, custom paths only support English, numbers and symbols. Can it support other languages in Unicode? Thank you.

[2019-06-20 11:01] #21 closed

[2019-06-20 11:01] #88 closed

[2019-06-20 11:01] #97 closed

[2019-06-20 11:01] #109 closed

[2019-06-20 11:01] #30 closed

[2019-06-20 11:01] #112 closed

[2019-06-20 11:01] #118 closed

[2019-06-20 11:01] #136 closed

[2019-06-20 11:01] #131 closed

[2019-06-20 11:01] #179 closed

[2019-06-20 11:01] #166 closed

[2019-06-20 11:01] #170 closed

[2019-06-20 11:01] #171 closed

[2019-06-20 11:01] #56 closed

[2019-06-20 11:01] #218 closed

[2019-06-20 11:01] #240 closed

[2019-06-20 11:02] #248 closed

[2019-06-20 11:02] #254 closed

[2019-06-20 11:02] #68 closed

[2019-06-20 11:02] #268 closed

[2019-06-20 17:30] Snitovets commented on #151
Have the same issue here :(

[2019-06-20 22:37] #123 closed

[2019-06-21 11:45] andrejs-uibo commented on #128
Is there any solution to this issue?

[2019-06-21 14:00] cannap commented on #256
i need this also or is there a way to manipulate via module
[code]

 i tried but i it seems not working

[2019-06-21 19:49] shlima opened #328 "v5.12.5 broken in IE 11"
nuxt-i18n v5.12.5 adds the `is-https` dependency, which code is not transpiled properly.

IE 11 fails in the following line here: (default function arg xForwardedProto = true)

[code]
With the following error:

[code]

[2019-06-21 19:49] #328 closed

[2019-06-21 19:51] shlima opened #329 "Release brokes IE 11"
### Version

[v5.2.1](https://github.com/nuxt-i18n/releases/tag/v5.2.1)

### Reproduction link

[http://ie11.com](http://ie11.com)

### Steps to reproduce

nuxt-i18n v5.12.5 adds the `is-https` dependency, which code is not transpiled properly.

IE 11 fails in the following line here: (default function arg xForwardedProto = true)

[code]
With the following error:

[code]

### What is expected ?

W

[2019-06-21 23:53] remychvn opened #330 ""Cookies" library causes a significant increase of vendors bundle size"
### What problem does this feature solve?
Reducing client bundle size to improve website load time

Hi,

I noticed that the addition of nuxt-i18n increased a lot my vendor.app.js bundle size
I looked for the source of this significant increase.
It seems that it's caused by the import of https://github.com/pillarjs/cookies that calls nodejs functions. (http and crypto)
Due to this, webpack adds man

[2019-06-22 00:43] paulgv commented on #330
@rclement WDYT? I knew that new library was be a bit bigger than the previous one but I wouldn't expect a big difference in bundle size. Would it be worth it keeping the old library and refactoring the code to still address the issue while keeping the bundle size as light as possible?

[2019-06-22 00:44] paulgv commented on #329
@rchl WDYT? Could you have a look?

[2019-06-22 05:23] rclement commented on #330
@paulgv Indeed that’s a bit crazy just for handling cookies properly, I admit I was in a hurry and only checked my project bundle where Cookies may have already been included by another dependency...

Of course, I’m all for a rewrite, as long as the previous bug is not reintroduced. Maybe reusing the ˋcookieˋ package and manually handling the ˋSet-Cookieˋ header properly is the way to go? We can b

[2019-06-22 07:09] rchl commented on #329
It does indeed look like default arguments are not transpiled in nuxt. Compiled bundle has this code:
[code]
@pi0 Do you have any take on this? Is Nuxt supposed to support IE11?

[2019-06-22 07:14] rchl commented on #329
BTW. Given that it's not even needed on the client, we could work around that by conditionally requiring it but then I would need to mix `require` and es6 imports which I'm not sure is a good idea...

[2019-06-22 07:19] rchl commented on #330
The answer to question in #329 also applies here. `cookies` library is not needed on the client so it could be required conditionally and then it wouldn't even be included on the client.

[2019-06-22 08:12] rclement commented on #330
@paulgv @remychvn I under-estimated my available time for this week-end, so I manage to send a new PR (#332) hopefully making the best of both worlds:

- Revert to using the `cookie` package to avoid increase of vendor bundle size
- Still fixing the original bug by manually handling the `Set-Cookie` headers, in the same fashion as the `cookies` package does

Let me know if missed something, again.

[2019-06-22 08:36] shlima commented on #329
Nuxt, vue and nuxt-i18n worked perfect in IE 11 before

[2019-06-22 12:07] rchl commented on #329
Then I wonder why is Nuxt not transpiling that construct...

[2019-06-22 12:42] #330 closed

[2019-06-22 12:51] rchl commented on #329
I will require it conditionally for now which will fix that problem (and as a bonus, make client bundle tiny bit smaller). I would be vary of mixing `require` and `es imports` but since `middleware.js` already does that for `./utils`, I guess it should work (for now at least).

[2019-06-22 12:52] paulgv commented on #329
Sounds good, thanks @rchl

[2019-06-22 13:04] #329 closed

[2019-06-25 08:33] cannap commented on #256
found a solution

nuxt.config.js
defaults is just a normal nuxt config obj
[code]

[2019-06-25 20:14] AsamyX opened #341 "No way to set default locale dynamically?"
Do I have to set default locale in `nuxt.config`?

The case with my project is that the locale consists of both language and country.   i.e  en-UK

So I set `defaultLocale` to `null` in `nuxt.config`
I capture user country from their IP @ nuxtServerInit, and I try to dispatch `i18n/setLocale, 'en-UK'` right after.

Unfortunately `app.i18n.locale` always returns null, and the whole project just cra

[2019-06-25 20:14] #341 closed

[2019-06-26 03:12] parsher commented on #151
I have the same issue too.

How to prevent it?

[2019-06-26 15:20] Fir3st opened #342 "UI libraries delete page's title when TypeScript is used in project"
### Version

[v5.3.0](https://github.com/nuxt-i18n/releases/tag/v5.3.0)

### Reproduction link

[https://nuxtjs.org/examples/typescript](https://nuxtjs.org/examples/typescript)

### Steps to reproduce

1. Create nuxt project with TypeScript
2. Add any UI framework that supports notifications and messages (I've already tested AT UI, Element UI and Ant Design)
3. Add framework into the project
4. Pu

[2019-06-26 15:50] Fir3st commented on #342
I found it's similar to https://github.com/nuxt-community/nuxt-i18n/issues/151, when I set `seo` to `false`, it works fine.

[2019-06-27 17:05] #253 closed

[2019-06-28 11:42] Frankwarnaar opened #343 "Translate function breaks when used in store or asyncData"
### Version

[5.12.7](https://github.com/nuxt-i18n/releases/tag/5.12.7)

### Reproduction link

[https://github.com/Frankwarnaar/nuxt-i18n-translate-from-store-bug-report](https://github.com/Frankwarnaar/nuxt-i18n-translate-from-store-bug-report)

### Steps to reproduce

Run `npm install` and then `npm run dev`. Then open http://localhost:3000.

### What is expected ?

In vue's `mounted` lifecycle